@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    display: flex; /* gnb 와 util 좌우로 배치 */
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* @media 의 wrapper가 margin 20px 이라서 
    브라우저 사이즈가 줄어들떄 맞아보임 */
}
header .logo a {
    display: block;
    height: 37px;
    width: 186px;
    background: url(../images/logo_w.svg) no-repeat center center / contain ;
}

/******* header에 fixed 클래스가 추가 되었을때 *********/
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a {
    background-image: url(../images/logo.svg) ;
    /*background 이미지만 바뀔경우 background-image 로 바꿔서 등록해야되고
    만약 background 넣을꺼면 no-repeat 등 뒤에속성 그대로 가져아야함 */
}

@media screen and (min-width:1025px) {
    /* pc버전에서만 적용되는  header스타일*/

        header .gnb .gnb_open,
        header .gnb .gnb_close {
            display: none; /* 모바일에서만 보이고 숨김 */
        }
        header .gnb .gnb_wrap ul.depth1 {
            display: flex; /* li들을 좌우로 배치 */
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            position: relative; /* 2차메뉴 정렬의 기준 */
        }   
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            line-height: 100px;
            font-size: 25px;
            font-weight: 700;
            padding: 0 29px; /* 여백의 반띵 */
            position: relative;
        }
        header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span {
            /* li하위에 depth2가 있는 a만 */
            display: block;
            padding-right: 23px; /* 아이콘이 들어갈 여백 */
            position: relative; /* after 정렬의 기준 */
        }
        header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
            content: "";
            position: absolute;
            right: 0;
            top: 45px;
            width: 16px;
            height: 8px;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 5.85597L13.5125 0.343466C13.7 0.155966 13.9219 0.0653414 14.1781 0.0715914C14.4344 0.0778415 14.6562 0.174716 14.8437 0.362216C15.0312 0.549716 15.125 0.771591 15.125 1.02784C15.125 1.28409 15.0312 1.50597 14.8437 1.69347L9.06875 7.44972C8.91875 7.59972 8.75 7.71222 8.5625 7.78722C8.375 7.86222 8.1875 7.89972 8 7.89972C7.8125 7.89972 7.625 7.86222 7.4375 7.78722C7.25 7.71222 7.08125 7.59972 6.93125 7.44972L1.15625 1.67472C0.968749 1.48722 0.878123 1.26847 0.884373 1.01847C0.890623 0.768466 0.987498 0.549716 1.175 0.362216C1.3625 0.174716 1.58437 0.0809659 1.84062 0.0809659C2.09687 0.0809659 2.31875 0.174716 2.50625 0.362216L8 5.85597Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }   
        header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 {
            display: none; /* 2차메뉴 숨김 */
            position: absolute;
            top: 85px;
            left: 50%; /* 원래 0이었는데 보여지면 가운데정렬로 50% */
            transform: translateX(-50%); /* ul길이 절반을 왼쪽으로 이동 */
            background-color: #C1121F;
            color: #fff; 
            padding: 0 32px; /* 녹색박스 */ 
            border-radius: 30px; 
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            white-space: nowrap; /* 줄바꿈 금지 */
            padding: 19px 23px ; /* 좌우 여백줘서 박스 커지게 */
        }
         header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
            /*속성선택자 <a target="_blank"> 라는 속성이 있는 a태그만 선택함 */
            display: block;
            padding-right: 20px; /* 아이콘이 들어갈 여백 만큼 */
            position: relative; /* after 정렬의 기준 */
         }
         header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::before {
            content: "";
            position: absolute;
            right: 0;
            top: 4px;
            height: 17px;
            width: 17px;
            background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.375 16.375C1.89375 16.375 1.48177 16.2036 1.13906 15.8609C0.796354 15.5182 0.625 15.1062 0.625 14.625V2.375C0.625 1.89375 0.796354 1.48177 1.13906 1.13906C1.48177 0.796354 1.89375 0.625 2.375 0.625H8.5V2.375H2.375V14.625H14.625V8.5H16.375V14.625C16.375 15.1062 16.2036 15.5182 15.8609 15.8609C15.5182 16.2036 15.1062 16.375 14.625 16.375H2.375ZM6.4875 11.7375L5.2625 10.5125L13.4 2.375H10.25V0.625H16.375V6.75H14.625V3.6L6.4875 11.7375Z' fill='white'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
         }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
            position: relative; /* span:after 정렬의 기준 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 1px;
            width: 100%;
            background-color: #fff;
        }
        header .util .search .search_open {
            display: block;
            width: 42px;
            height: 42px;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_46' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_46)'%3E%3Cpath d='M12.6667 21.3333C10.2444 21.3333 8.19444 20.4944 6.51667 18.8167C4.83889 17.1389 4 15.0889 4 12.6667C4 10.2444 4.83889 8.19444 6.51667 6.51667C8.19444 4.83889 10.2444 4 12.6667 4C15.0889 4 17.1389 4.83889 18.8167 6.51667C20.4944 8.19444 21.3333 10.2444 21.3333 12.6667C21.3333 13.6444 21.1778 14.5667 20.8667 15.4333C20.5556 16.3 20.1333 17.0667 19.6 17.7333L27.0667 25.2C27.3111 25.4444 27.4333 25.7556 27.4333 26.1333C27.4333 26.5111 27.3111 26.8222 27.0667 27.0667C26.8222 27.3111 26.5111 27.4333 26.1333 27.4333C25.7556 27.4333 25.4444 27.3111 25.2 27.0667L17.7333 19.6C17.0667 20.1333 16.3 20.5556 15.4333 20.8667C14.5667 21.1778 13.6444 21.3333 12.6667 21.3333ZM12.6667 18.6667C14.3333 18.6667 15.75 18.0833 16.9167 16.9167C18.0833 15.75 18.6667 14.3333 18.6667 12.6667C18.6667 11 18.0833 9.58333 16.9167 8.41667C15.75 7.25 14.3333 6.66667 12.6667 6.66667C11 6.66667 9.58333 7.25 8.41667 8.41667C7.25 9.58333 6.66667 11 6.66667 12.6667C6.66667 14.3333 7.25 15.75 8.41667 16.9167C9.58333 18.0833 11 18.6667 12.6667 18.6667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }

/******* header에 fixed 클래스가 추가 되었을때 *********/
header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 5.85597L13.5125 0.343466C13.7 0.155966 13.9219 0.0653414 14.1781 0.0715914C14.4344 0.0778415 14.6562 0.174716 14.8437 0.362216C15.0312 0.549716 15.125 0.771591 15.125 1.02784C15.125 1.28409 15.0312 1.50597 14.8437 1.69347L9.06875 7.44972C8.91875 7.59972 8.75 7.71222 8.5625 7.78722C8.375 7.86222 8.1875 7.89972 8 7.89972C7.8125 7.89972 7.625 7.86222 7.4375 7.78722C7.25 7.71222 7.08125 7.59972 6.93125 7.44972L1.15625 1.67472C0.968749 1.48722 0.878123 1.26847 0.884373 1.01847C0.890623 0.768466 0.987498 0.549716 1.175 0.362216C1.3625 0.174716 1.58437 0.0809659 1.84062 0.0809659C2.09687 0.0809659 2.31875 0.174716 2.50625 0.362216L8 5.85597Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_46' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_46)'%3E%3Cpath d='M12.6667 21.3333C10.2444 21.3333 8.19444 20.4944 6.51667 18.8167C4.83889 17.1389 4 15.0889 4 12.6667C4 10.2444 4.83889 8.19444 6.51667 6.51667C8.19444 4.83889 10.2444 4 12.6667 4C15.0889 4 17.1389 4.83889 18.8167 6.51667C20.4944 8.19444 21.3333 10.2444 21.3333 12.6667C21.3333 13.6444 21.1778 14.5667 20.8667 15.4333C20.5556 16.3 20.1333 17.0667 19.6 17.7333L27.0667 25.2C27.3111 25.4444 27.4333 25.7556 27.4333 26.1333C27.4333 26.5111 27.3111 26.8222 27.0667 27.0667C26.8222 27.3111 26.5111 27.4333 26.1333 27.4333C25.7556 27.4333 25.4444 27.3111 25.2 27.0667L17.7333 19.6C17.0667 20.1333 16.3 20.5556 15.4333 20.8667C14.5667 21.1778 13.6444 21.3333 12.6667 21.3333ZM12.6667 18.6667C14.3333 18.6667 15.75 18.0833 16.9167 16.9167C18.0833 15.75 18.6667 14.3333 18.6667 12.6667C18.6667 11 18.0833 9.58333 16.9167 8.41667C15.75 7.25 14.3333 6.66667 12.6667 6.66667C11 6.66667 9.58333 7.25 8.41667 8.41667C7.25 9.58333 6.66667 11 6.66667 12.6667C6.66667 14.3333 7.25 15.75 8.41667 16.9167C9.58333 18.0833 11 18.6667 12.6667 18.6667Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/******* 메뉴에 마우스를 오버(over)했을때  *********/
        header .gnb .gnb_wrap ul.depth1 > li.over >ul.depth2 {
            display: flex; 
            /* 2차메뉴 숨김-> 나옴(block)이지만  li 좌우로 배치해야하므로  flex 줌  */
        }
        header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after{
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 2.14403L2.4875 7.65653C2.3 7.84403 2.07813 7.93466 1.82188 7.92841C1.56563 7.92216 1.34375 7.82528 1.15625 7.63778C0.96875 7.45028 0.875 7.22841 0.875 6.97216C0.875 6.71591 0.96875 6.49403 1.15625 6.30653L6.93125 0.550283C7.08125 0.400283 7.25 0.287783 7.4375 0.212783C7.625 0.137783 7.8125 0.100284 8 0.100284C8.1875 0.100284 8.375 0.137783 8.5625 0.212783C8.75 0.287783 8.91875 0.400283 9.06875 0.550283L14.8438 6.32528C15.0313 6.51278 15.1219 6.73153 15.1156 6.98153C15.1094 7.23153 15.0125 7.45028 14.825 7.63778C14.6375 7.82528 14.4156 7.91903 14.1594 7.91903C13.9031 7.91903 13.6813 7.82528 13.4938 7.63778L8 2.14403Z' fill='%23C1121F'/%3E%3C/svg%3E%0A");
        }
        header .gnb .gnb_wrap ul.depth1 > li.over > a {
            color: #C1121F;
        }
}/* @media */

@media screen and (min-width:1025px) and (max-width:1280px) { /*1280~1025 까지만 적용 */
    header.fixed {
        background-color: yellow;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
        padding: 0 19px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        padding: 19px 13px;
    }
}/*@media*/
@media screen and (max-width:1024px) { /* 모바일 */
    header {
        height: 56px;
        padding: 0 0 0 20px; /* 오른쪽 여백 안들어가고 왼쪽에만 들어감 */
    }
    header .logo a {
        height: 23px;
        width: 118px;
    }
    header .gnb .gnb_open {
        display: block;
        width: 56px;
        height: 56px;
       background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 18.5645C0.716667 18.5645 0.479167 18.4686 0.2875 18.277C0.0958333 18.0853 0 17.8478 0 17.5645C0 17.2811 0.0958333 17.0436 0.2875 16.852C0.479167 16.6603 0.716667 16.5645 1 16.5645H17C17.2833 16.5645 17.5208 16.6603 17.7125 16.852C17.9042 17.0436 18 17.2811 18 17.5645C18 17.8478 17.9042 18.0853 17.7125 18.277C17.5208 18.4686 17.2833 18.5645 17 18.5645H1ZM1 10.5645C0.716667 10.5645 0.479167 10.4686 0.2875 10.277C0.0958333 10.0853 0 9.84779 0 9.56445C0 9.28112 0.0958333 9.04362 0.2875 8.85195C0.479167 8.66029 0.716667 8.56445 1 8.56445H17C17.2833 8.56445 17.5208 8.66029 17.7125 8.85195C17.9042 9.04362 18 9.28112 18 9.56445C18 9.84779 17.9042 10.0853 17.7125 10.277C17.5208 10.4686 17.2833 10.5645 17 10.5645H1ZM1 2.56445C0.716667 2.56445 0.479167 2.46862 0.2875 2.27695C0.0958333 2.08529 0 1.84779 0 1.56445C0 1.28112 0.0958333 1.04362 0.2875 0.851953C0.479167 0.660286 0.716667 0.564453 1 0.564453H17C17.2833 0.564453 17.5208 0.660286 17.7125 0.851953C17.9042 1.04362 18 1.28112 18 1.56445C18 1.84779 17.9042 2.08529 17.7125 2.27695C17.5208 2.46862 17.2833 2.56445 17 2.56445H1Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
     }
    header .gnb .gnb_wrap {
        display: none; /* 메뉴 숨김 */
    }
     header .gnb .gnb_close {
        display: none;
     }
    header .util {
        display: none; /* 숨김 */
    }
}

.visual .swiper-slide {
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide .wrapper {
    /* 글씨를 아래로 내리는경우  wrapper에게 줘야함*/
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 62px 0;
}
.visual .swiper-slide p {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
}
.visual .btn_wrap {
    position: absolute; /*swiper 기준으로 정렬 , 브라우저에 relative 있음*/
    left: 0;
    bottom: 23px; /* 버튼사이즈 밑 여백 */
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    gap: 5px; /* 옆 여백*/
}
.visual .btn_wrap button {
     width: 15px;
     height: 15px;
     border: 1px solid #fff;
     border-radius: 50%;
     background-position: center center;
     background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_68' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect x='10' y='10' width='10' height='10' transform='rotate(-180 10 10)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_68)'%3E%3Cpath d='M3.96891 4.99967L7.03141 8.06217C7.13557 8.16634 7.18592 8.2896 7.18245 8.43197C7.17898 8.57433 7.12516 8.69759 7.02099 8.80176C6.91682 8.90592 6.79356 8.95801 6.6512 8.95801C6.50884 8.95801 6.38557 8.90592 6.28141 8.80176L3.08349 5.59342C3.00016 5.51009 2.93766 5.41634 2.89599 5.31217C2.85432 5.20801 2.83349 5.10384 2.83349 4.99967C2.83349 4.89551 2.85432 4.79134 2.89599 4.68717C2.93766 4.58301 3.00016 4.48926 3.08349 4.40592L6.29183 1.19759C6.39599 1.09342 6.51752 1.04307 6.65641 1.04655C6.7953 1.05002 6.91683 1.10384 7.02099 1.20801C7.12516 1.31217 7.17724 1.43544 7.17724 1.5778C7.17724 1.72016 7.12516 1.84342 7.02099 1.94759L3.96891 4.99967Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_62' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_62)'%3E%3Cpath d='M6.03109 5.0013L2.96859 1.9388C2.86443 1.83464 2.81408 1.71137 2.81755 1.56901C2.82102 1.42665 2.87484 1.30339 2.97901 1.19922C3.08318 1.09505 3.20644 1.04297 3.3488 1.04297C3.49116 1.04297 3.61443 1.09505 3.71859 1.19922L6.91651 4.40755C6.99984 4.49089 7.06234 4.58464 7.10401 4.6888C7.14567 4.79297 7.16651 4.89714 7.16651 5.0013C7.16651 5.10547 7.14567 5.20964 7.10401 5.3138C7.06234 5.41797 6.99984 5.51172 6.91651 5.59505L3.70817 8.80339C3.60401 8.90755 3.48248 8.9579 3.34359 8.95443C3.2047 8.95096 3.08317 8.89714 2.97901 8.79297C2.87484 8.6888 2.82276 8.56554 2.82276 8.42318C2.82276 8.28082 2.87484 8.15755 2.97901 8.05339L6.03109 5.0013Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_65' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_65)'%3E%3Cpath d='M6.66667 7.91634C6.4375 7.91634 6.24132 7.83474 6.07813 7.67155C5.91493 7.50836 5.83333 7.31217 5.83333 7.08301V2.91634C5.83333 2.68717 5.91493 2.49099 6.07813 2.3278C6.24132 2.16461 6.4375 2.08301 6.66667 2.08301C6.89583 2.08301 7.09201 2.16461 7.25521 2.3278C7.4184 2.49099 7.5 2.68717 7.5 2.91634V7.08301C7.5 7.31217 7.4184 7.50836 7.25521 7.67155C7.09201 7.83474 6.89583 7.91634 6.66667 7.91634ZM3.33333 7.91634C3.10417 7.91634 2.90799 7.83474 2.74479 7.67155C2.5816 7.50836 2.5 7.31217 2.5 7.08301V2.91634C2.5 2.68717 2.5816 2.49099 2.74479 2.3278C2.90799 2.16461 3.10417 2.08301 3.33333 2.08301C3.5625 2.08301 3.75868 2.16461 3.92188 2.3278C4.08507 2.49099 4.16667 2.68717 4.16667 2.91634V7.08301C4.16667 7.31217 4.08507 7.50836 3.92188 7.67155C3.75868 7.83474 3.5625 7.91634 3.33333 7.91634Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none;   /* 정지버튼을 눌었을떄만 나옴 */
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_60_1913' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect x='10' y='10' width='10' height='10' transform='rotate(-180 10 10)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_60_1913)'%3E%3Cpath d='M7.36426 4.64616C7.42676 4.68783 7.47363 4.73991 7.50488 4.80241C7.53613 4.86491 7.55176 4.93088 7.55176 5.00033C7.55176 5.06977 7.53613 5.13574 7.50488 5.19824C7.47363 5.26074 7.42676 5.31283 7.36426 5.35449L3.96842 7.51074C3.9337 7.53158 3.89724 7.5472 3.85905 7.55762C3.82086 7.56803 3.7844 7.57324 3.74967 7.57324C3.63856 7.57324 3.54134 7.53331 3.45801 7.45345C3.37467 7.37359 3.33301 7.27463 3.33301 7.15658L3.33301 2.84408C3.33301 2.72602 3.37468 2.62706 3.45801 2.5472C3.54134 2.46734 3.63856 2.42741 3.74968 2.42741C3.7844 2.42741 3.82086 2.43262 3.85905 2.44303C3.89724 2.45345 3.9337 2.46908 3.96842 2.48991L7.36426 4.64616Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px) {
         .visual .swiper-slide .wrapper {
            /* 글씨를 아래로 내리는경우  wrapper에게 줘야함*/
            height: 600px;
            padding: 0 0 50px 0;
        }
        .visual .swiper-slide p {
            font-size: 50px;
        }
}/*@media*/

@media screen and (max-width:768px) { /* 모바일 */
        .visual .swiper-slide .wrapper {
            /* 글씨를 아래로 내리는경우  wrapper에게 줘야함*/
            height: 500px;
            padding: 0 0 47px 0;
        }
        .visual .swiper-slide p {
            font-size: 30px;
        }
        .visual .swiper-slide p br{
            display: none;
        }
        .visual .btn_wrap {
            left: 20px;
            bottom: 18px; /* 버튼사이즈 밑 여백 */
            width: auto;
        }
        .visual .btn_wrap button.btn_prev {
            display: none;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_68' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect x='10' y='10' width='10' height='10' transform='rotate(-180 10 10)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_68)'%3E%3Cpath d='M3.96891 4.99967L7.03141 8.06217C7.13557 8.16634 7.18592 8.2896 7.18245 8.43197C7.17898 8.57433 7.12516 8.69759 7.02099 8.80176C6.91682 8.90592 6.79356 8.95801 6.6512 8.95801C6.50884 8.95801 6.38557 8.90592 6.28141 8.80176L3.08349 5.59342C3.00016 5.51009 2.93766 5.41634 2.89599 5.31217C2.85432 5.20801 2.83349 5.10384 2.83349 4.99967C2.83349 4.89551 2.85432 4.79134 2.89599 4.68717C2.93766 4.58301 3.00016 4.48926 3.08349 4.40592L6.29183 1.19759C6.39599 1.09342 6.51752 1.04307 6.65641 1.04655C6.7953 1.05002 6.91683 1.10384 7.02099 1.20801C7.12516 1.31217 7.17724 1.43544 7.17724 1.5778C7.17724 1.72016 7.12516 1.84342 7.02099 1.94759L3.96891 4.99967Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        .visual .btn_wrap button.btn_next {
            display: none;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_62' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_62)'%3E%3Cpath d='M6.03109 5.0013L2.96859 1.9388C2.86443 1.83464 2.81408 1.71137 2.81755 1.56901C2.82102 1.42665 2.87484 1.30339 2.97901 1.19922C3.08318 1.09505 3.20644 1.04297 3.3488 1.04297C3.49116 1.04297 3.61443 1.09505 3.71859 1.19922L6.91651 4.40755C6.99984 4.49089 7.06234 4.58464 7.10401 4.6888C7.14567 4.79297 7.16651 4.89714 7.16651 5.0013C7.16651 5.10547 7.14567 5.20964 7.10401 5.3138C7.06234 5.41797 6.99984 5.51172 6.91651 5.59505L3.70817 8.80339C3.60401 8.90755 3.48248 8.9579 3.34359 8.95443C3.2047 8.95096 3.08317 8.89714 2.97901 8.79297C2.87484 8.6888 2.82276 8.56554 2.82276 8.42318C2.82276 8.28082 2.87484 8.15755 2.97901 8.05339L6.03109 5.0013Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
}/*@media*/

footer {
    margin: 500px 0 0 0;
}