/* 태그의 초기화 */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit; /* 브라우저에서 주는 값 말고 내가 주는 값 상속받아라*/
    font-weight: inherit;
}
strong {
    font-weight: inherit; /* 굵은글씨 취소 */
}
em, address {
    font-style: normal; /* 기울기 취소 */
}
a {
    color: inherit; /* 파란색글씨 취소 */
    text-decoration: none; /* 밑줄 삭제 */
}
button {
    cursor: pointer; /* 마우스 포인터 손바닥 */
    font-family: inherit; /* 버튼은 글자의 기본스타일을 상속받지않아 상속받으라고 써줌 */
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none; /* 테두리 삭제 */
    background: none; /* 배경 다 빼는것 , 이게 더 강력 */
    /* background-color : transparent 배경 투명 */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  높이/너비를 주면 사이즈가 늘어나 그걸막고 유지시킴 */
}
li {
    list-style: none; /* 앞에 동그라미 삭제 */
}