/* 모든 페이지에 공통으로 들어가는 기본 스타일 */
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    word-break: keep-all; /* 스페이스기준 단어별 줄바꿈 */
    color: #555;
    word-wrap: break-word;
    /* 단어가 너무 긴 경우 강제로 줄바꿈을 주는 방법 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1320px;
    /*
        1260 + 30(사이드여백) + 30(사이드여백) = 1320
        가로스크롤바가 생겼을떄 사이드여백이 있어야 보기가 편하니까/ 최소의 넓이 
    */
    position: relative; /* header정렬의 기준 */
}
@media screen and (max-width:640px) {
    /* 브라우저 넓이가 640px 이하에서만 작동 */
            .wrapper {
                width: auto; /* 넓이는 알아서 */
                margin: 0 20px; /* 좌우여백 20px */
            }
            #wrap {
                min-width: 0; /* 최소넓이 없음 */
            }
            body {
                font-size: 16px;
            }
}
/* 글자를 숨겨야 하는 경우 blind 클래스를 적용 */
.blind {
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent; /* 칼라 투명 */
}
