@import url(default.css);
@import url(font.css);
@import url(common.css);
/* index페이지 - 메인페이지만 적용되는 스타일 
    그리고 다른 css를 호출함*/
header {
    position: absolute; /* wrap를 기준으로 정렬, visual안에 들어감 */
    left: 0;
    top: 0;
    z-index: 100; /* absolute, relative 보다 맨 위 */
    color: #fff;
    width: 100%; /* space-between이 적용됨 */
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex; /* h1 nav tnb를 좌우에 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
header .logo a {
    display: block;
    width: 136px;
    height: 49px;
    background: url(../images/logo11.svg) no-repeat center center / contain;
    /* contain : 로고나 ,아이콘을 배경으로 할떄 안잘리게 하는것
        corver : 이미지배경으로 넣을떄 */
    
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a{
    display: block;
    padding: 0 31px ;
    line-height: 100px; /* header의 높이와 같은 값 */
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;
}
header .tnb {
    display: flex; /* a를 좌우로 배치 */
    gap: 10px;
}
header .tnb a {
    display: block;
    position: relative; /* before 정렬의 기준 */
    padding: 24px 0 0 0; /*아이콘 들어가 자리를 padding으로 줘서 글자를 아래로 이동 */
    font-size: 12px;
}
header .tnb a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    top: 0 ;
    /* absolute 가운데 */
    left: 50%;
    transform: translateX(-50%);
    /**/
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* 아이콘 넣을때 안잘라게 하는것 */
}
header .tnb a.icon01::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_55_290' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_290)'%3E%3Cpath d='M12 5C11.7167 5 11.4792 4.90417 11.2875 4.7125C11.0958 4.52083 11 4.28333 11 4V2C11 1.71667 11.0958 1.47917 11.2875 1.2875C11.4792 1.09583 11.7167 1 12 1C12.2833 1 12.5208 1.09583 12.7125 1.2875C12.9042 1.47917 13 1.71667 13 2V4C13 4.28333 12.9042 4.52083 12.7125 4.7125C12.5208 4.90417 12.2833 5 12 5ZM16.95 7.05C16.7667 6.86667 16.675 6.6375 16.675 6.3625C16.675 6.0875 16.7667 5.85 16.95 5.65L18.35 4.225C18.55 4.025 18.7875 3.925 19.0625 3.925C19.3375 3.925 19.575 4.025 19.775 4.225C19.9583 4.40833 20.05 4.64167 20.05 4.925C20.05 5.20833 19.9583 5.44167 19.775 5.625L18.35 7.05C18.1667 7.23333 17.9333 7.325 17.65 7.325C17.3667 7.325 17.1333 7.23333 16.95 7.05ZM20 13C19.7167 13 19.4792 12.9042 19.2875 12.7125C19.0958 12.5208 19 12.2833 19 12C19 11.7167 19.0958 11.4792 19.2875 11.2875C19.4792 11.0958 19.7167 11 20 11H22C22.2833 11 22.5208 11.0958 22.7125 11.2875C22.9042 11.4792 23 11.7167 23 12C23 12.2833 22.9042 12.5208 22.7125 12.7125C22.5208 12.9042 22.2833 13 22 13H20ZM12 23C11.7167 23 11.4792 22.9042 11.2875 22.7125C11.0958 22.5208 11 22.2833 11 22V20C11 19.7167 11.0958 19.4792 11.2875 19.2875C11.4792 19.0958 11.7167 19 12 19C12.2833 19 12.5208 19.0958 12.7125 19.2875C12.9042 19.4792 13 19.7167 13 20V22C13 22.2833 12.9042 22.5208 12.7125 22.7125C12.5208 22.9042 12.2833 23 12 23ZM5.65 7.05L4.225 5.65C4.025 5.45 3.925 5.20833 3.925 4.925C3.925 4.64167 4.025 4.40833 4.225 4.225C4.40833 4.04167 4.64167 3.95 4.925 3.95C5.20833 3.95 5.44167 4.04167 5.625 4.225L7.05 5.65C7.23333 5.83333 7.325 6.06667 7.325 6.35C7.325 6.63333 7.23333 6.86667 7.05 7.05C6.85 7.23333 6.61667 7.325 6.35 7.325C6.08333 7.325 5.85 7.23333 5.65 7.05ZM18.35 19.775L16.95 18.35C16.7667 18.15 16.675 17.9125 16.675 17.6375C16.675 17.3625 16.7667 17.1333 16.95 16.95C17.1333 16.7667 17.3625 16.675 17.6375 16.675C17.9125 16.675 18.15 16.7667 18.35 16.95L19.775 18.35C19.975 18.5333 20.0708 18.7667 20.0625 19.05C20.0542 19.3333 19.9583 19.575 19.775 19.775C19.575 19.975 19.3333 20.075 19.05 20.075C18.7667 20.075 18.5333 19.975 18.35 19.775ZM2 13C1.71667 13 1.47917 12.9042 1.2875 12.7125C1.09583 12.5208 1 12.2833 1 12C1 11.7167 1.09583 11.4792 1.2875 11.2875C1.47917 11.0958 1.71667 11 2 11H4C4.28333 11 4.52083 11.0958 4.7125 11.2875C4.90417 11.4792 5 11.7167 5 12C5 12.2833 4.90417 12.5208 4.7125 12.7125C4.52083 12.9042 4.28333 13 4 13H2ZM4.225 19.775C4.04167 19.5917 3.95 19.3583 3.95 19.075C3.95 18.7917 4.04167 18.5583 4.225 18.375L5.65 16.95C5.83333 16.7667 6.0625 16.675 6.3375 16.675C6.6125 16.675 6.85 16.7667 7.05 16.95C7.25 17.15 7.35 17.3875 7.35 17.6625C7.35 17.9375 7.25 18.175 7.05 18.375L5.65 19.775C5.45 19.975 5.20833 20.075 4.925 20.075C4.64167 20.075 4.40833 19.975 4.225 19.775ZM12 18C10.3333 18 8.91667 17.4167 7.75 16.25C6.58333 15.0833 6 13.6667 6 12C6 10.3333 6.58333 8.91667 7.75 7.75C8.91667 6.58333 10.3333 6 12 6C13.6667 6 15.0833 6.58333 16.25 7.75C17.4167 8.91667 18 10.3333 18 12C18 13.6667 17.4167 15.0833 16.25 16.25C15.0833 17.4167 13.6667 18 12 18ZM12 16C13.1 16 14.0417 15.6083 14.825 14.825C15.6083 14.0417 16 13.1 16 12C16 10.9 15.6083 9.95833 14.825 9.175C14.0417 8.39167 13.1 8 12 8C10.9 8 9.95833 8.39167 9.175 9.175C8.39167 9.95833 8 10.9 8 12C8 13.1 8.39167 14.0417 9.175 14.825C9.95833 15.6083 10.9 16 12 16Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb a.icon02::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_55_287' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_287)'%3E%3Cpath d='M12.0004 21.975C11.4004 21.975 10.8296 21.9083 10.2879 21.775C9.74625 21.6417 9.14209 21.4167 8.47542 21.1C7.69209 21.4167 6.94625 21.6333 6.23792 21.75C5.52959 21.8667 4.78375 21.9417 4.00042 21.975C3.71709 21.9917 3.47959 21.9042 3.28792 21.7125C3.09625 21.5208 3.00042 21.2833 3.00042 21C3.00042 20.7167 3.09625 20.4792 3.28792 20.2875C3.47959 20.0958 3.71709 19.9917 4.00042 19.975C4.40042 19.9583 4.77125 19.9333 5.11292 19.9C5.45459 19.8667 5.79209 19.8125 6.12542 19.7375C6.45875 19.6625 6.80042 19.5667 7.15042 19.45C7.50042 19.3333 7.87542 19.1917 8.27542 19.025C8.35875 18.9917 8.44209 18.975 8.52542 18.975C8.60875 18.975 8.69209 18.9917 8.77542 19.025C9.32542 19.3083 9.82959 19.5417 10.2879 19.725C10.7463 19.9083 11.3171 20 12.0004 20C12.6838 20 13.2546 19.9083 13.7129 19.725C14.1713 19.5417 14.6754 19.3083 15.2254 19.025C15.3088 18.9917 15.3921 18.975 15.4754 18.975C15.5588 18.975 15.6421 18.9917 15.7254 19.025C16.1254 19.1917 16.5004 19.3333 16.8504 19.45C17.2004 19.5667 17.5421 19.6625 17.8754 19.7375C18.2088 19.8125 18.5504 19.8667 18.9004 19.9C19.2504 19.9333 19.6171 19.9583 20.0004 19.975C20.2838 19.9917 20.5213 20.0958 20.7129 20.2875C20.9046 20.4792 21.0004 20.7167 21.0004 21C21.0004 21.2833 20.9046 21.5208 20.7129 21.7125C20.5213 21.9042 20.2838 21.9917 20.0004 21.975C19.2171 21.9417 18.4713 21.8667 17.7629 21.75C17.0546 21.6333 16.3171 21.4167 15.5504 21.1C14.8838 21.4167 14.2754 21.6417 13.7254 21.775C13.1754 21.9083 12.6004 21.975 12.0004 21.975ZM12.0004 18C11.0004 18 10.1254 17.6667 9.37542 17L8.25042 16C7.93375 16.3 7.59625 16.5708 7.23792 16.8125C6.87959 17.0542 6.50875 17.2667 6.12542 17.45C5.80875 17.5833 5.49625 17.5667 5.18792 17.4C4.87959 17.2333 4.67542 16.9833 4.57542 16.65L2.82542 11C2.74209 10.7167 2.76709 10.4583 2.90042 10.225C3.03375 9.99167 3.24209 9.83333 3.52542 9.75L5.00042 9.35V6C5.00042 5.45 5.19625 4.97917 5.58792 4.5875C5.97959 4.19583 6.45042 4 7.00042 4H9.50042V3C9.50042 2.71667 9.59625 2.47917 9.78792 2.2875C9.97959 2.09583 10.2171 2 10.5004 2H13.5004C13.7838 2 14.0213 2.09583 14.2129 2.2875C14.4046 2.47917 14.5004 2.71667 14.5004 3V4H17.0004C17.5504 4 18.0213 4.19583 18.4129 4.5875C18.8046 4.97917 19.0004 5.45 19.0004 6V9.35L20.4754 9.75C20.7588 9.83333 20.9671 9.99167 21.1004 10.225C21.2338 10.4583 21.2588 10.7167 21.1754 11L19.4254 16.65C19.3254 16.9833 19.1213 17.2333 18.8129 17.4C18.5046 17.5667 18.1921 17.5833 17.8754 17.45C17.4754 17.2667 17.0963 17.0542 16.7379 16.8125C16.3796 16.5708 16.0504 16.3 15.7504 16L14.6254 17C13.8754 17.6667 13.0004 18 12.0004 18ZM7.00042 6V8.825L11.5004 7.625C11.6671 7.575 11.8338 7.55 12.0004 7.55C12.1671 7.55 12.3338 7.575 12.5004 7.625L17.0004 8.825V6H7.00042ZM12.0004 9.575L5.05042 11.4L6.20042 15.125C6.45042 14.925 6.68792 14.7208 6.91292 14.5125C7.13792 14.3042 7.36709 14.0833 7.60042 13.85C7.80042 13.6333 8.04625 13.5292 8.33792 13.5375C8.62959 13.5458 8.86709 13.6667 9.05042 13.9C9.43375 14.35 9.86709 14.8125 10.3504 15.2875C10.8338 15.7625 11.4004 16 12.0504 16C12.6838 16 13.2338 15.7583 13.7004 15.275C14.1671 14.7917 14.5921 14.3333 14.9754 13.9C15.1588 13.6667 15.3963 13.5458 15.6879 13.5375C15.9796 13.5292 16.2254 13.6333 16.4254 13.85C16.6588 14.0833 16.8879 14.3042 17.1129 14.5125C17.3379 14.7208 17.5754 14.925 17.8254 15.125L18.9754 11.4L12.0004 9.575Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb a.icon03::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_55_284' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_284)'%3E%3Cpath d='M8.7 20.9998C7.71667 20.9998 7.0625 20.8331 6.7375 20.4998C6.4125 20.1665 5.95 19.9998 5.35 19.9998C5.11667 19.9998 4.89167 20.0415 4.675 20.1248C4.45833 20.2081 4.05833 20.4165 3.475 20.7498C3.14167 20.9331 2.8125 20.929 2.4875 20.7373C2.1625 20.5456 2 20.2581 2 19.8748C2 19.6915 2.04583 19.5206 2.1375 19.3623C2.22917 19.204 2.35833 19.0831 2.525 18.9998C3.325 18.5665 3.87917 18.2915 4.1875 18.1748C4.49583 18.0581 4.88333 17.9998 5.35 17.9998C6.3 17.9998 6.9375 18.1665 7.2625 18.4998C7.5875 18.8331 8.05 18.9998 8.65 18.9998C9.28333 18.9998 9.75417 18.8331 10.0625 18.4998C10.3708 18.1665 11.0167 17.9998 12 17.9998C12.95 17.9998 13.5917 18.1665 13.925 18.4998C14.2583 18.8331 14.7167 18.9998 15.3 18.9998C15.9333 18.9998 16.4042 18.8331 16.7125 18.4998C17.0208 18.1665 17.6667 17.9998 18.65 17.9998C19.1167 17.9998 19.5083 18.0581 19.825 18.1748C20.1417 18.2915 20.6917 18.5665 21.475 18.9998C21.6417 19.0831 21.7708 19.204 21.8625 19.3623C21.9542 19.5206 22 19.6915 22 19.8748C22 20.2581 21.8333 20.5456 21.5 20.7373C21.1667 20.929 20.8333 20.9331 20.5 20.7498C19.9167 20.4165 19.5208 20.2081 19.3125 20.1248C19.1042 20.0415 18.8833 19.9998 18.65 19.9998C18.05 19.9998 17.5958 20.1665 17.2875 20.4998C16.9792 20.8331 16.3333 20.9998 15.35 20.9998C14.4 20.9998 13.7542 20.8331 13.4125 20.4998C13.0708 20.1665 12.6 19.9998 12 19.9998C11.3667 19.9998 10.9042 20.1665 10.6125 20.4998C10.3208 20.8331 9.68333 20.9998 8.7 20.9998ZM6 3.99981C6 4.28315 5.90417 4.52065 5.7125 4.71231C5.52083 4.90398 5.28333 4.99981 5 4.99981H4C3.71667 4.99981 3.47917 4.90398 3.2875 4.71231C3.09583 4.52065 3 4.28315 3 3.99981C3 3.71648 3.09583 3.47898 3.2875 3.28731C3.47917 3.09565 3.71667 2.99981 4 2.99981H5C5.28333 2.99981 5.52083 3.09565 5.7125 3.28731C5.90417 3.47898 6 3.71648 6 3.99981ZM7.525 7.67481C7.725 7.87481 7.825 8.11231 7.825 8.38731C7.825 8.66231 7.725 8.89981 7.525 9.09981L6.825 9.79981C6.64167 9.98315 6.4125 10.0748 6.1375 10.0748C5.8625 10.0748 5.625 9.98315 5.425 9.79981C5.225 9.59981 5.125 9.36231 5.125 9.08731C5.125 8.81231 5.225 8.57481 5.425 8.37481L6.125 7.67481C6.30833 7.49148 6.5375 7.39981 6.8125 7.39981C7.0875 7.39981 7.325 7.49148 7.525 7.67481ZM12 7.99981C10.85 7.99981 9.825 7.64981 8.925 6.94981C8.025 6.24981 7.43333 5.34981 7.15 4.24981C7.06667 3.98315 7.09583 3.73315 7.2375 3.49981C7.37917 3.26648 7.59167 3.10815 7.875 3.02481C8.14167 2.94148 8.39167 2.97065 8.625 3.11231C8.85833 3.25398 9.01667 3.46648 9.1 3.74981C9.28333 4.41648 9.6375 4.95815 10.1625 5.37481C10.6875 5.79148 11.3 5.99981 12 5.99981C12.7 5.99981 13.3167 5.79148 13.85 5.37481C14.3833 4.95815 14.7333 4.41648 14.9 3.74981C14.9833 3.48315 15.1417 3.27898 15.375 3.13731C15.6083 2.99565 15.8583 2.96648 16.125 3.04981C16.3917 3.13315 16.5958 3.28731 16.7375 3.51231C16.8792 3.73731 16.9083 3.98315 16.825 4.24981C16.5417 5.34981 15.9542 6.24981 15.0625 6.94981C14.1708 7.64981 13.15 7.99981 12 7.99981ZM12 8.99981C12.2833 8.99981 12.5208 9.09565 12.7125 9.28731C12.9042 9.47898 13 9.71648 13 9.99981V10.9998C13 11.2831 12.9042 11.5206 12.7125 11.7123C12.5208 11.904 12.2833 11.9998 12 11.9998C11.7167 11.9998 11.4792 11.904 11.2875 11.7123C11.0958 11.5206 11 11.2831 11 10.9998V9.99981C11 9.71648 11.0958 9.47898 11.2875 9.28731C11.4792 9.09565 11.7167 8.99981 12 8.99981ZM16.475 7.69981C16.6583 7.51648 16.8917 7.42481 17.175 7.42481C17.4583 7.42481 17.6917 7.51648 17.875 7.69981L18.575 8.39981C18.775 8.59981 18.8792 8.83315 18.8875 9.09981C18.8958 9.36648 18.8 9.59981 18.6 9.79981C18.4 9.99981 18.1625 10.0998 17.8875 10.0998C17.6125 10.0998 17.375 9.99981 17.175 9.79981L16.475 9.09981C16.2917 8.89981 16.1958 8.66648 16.1875 8.39981C16.1792 8.13315 16.275 7.89981 16.475 7.69981ZM21 3.99981C21 4.28315 20.9042 4.52065 20.7125 4.71231C20.5208 4.90398 20.2833 4.99981 20 4.99981H19C18.7167 4.99981 18.4792 4.90398 18.2875 4.71231C18.0958 4.52065 18 4.28315 18 3.99981C18 3.71648 18.0958 3.47898 18.2875 3.28731C18.4792 3.09565 18.7167 2.99981 19 2.99981H20C20.2833 2.99981 20.5208 3.09565 20.7125 3.28731C20.9042 3.47898 21 3.71648 21 3.99981ZM8.7 16.9998C7.71667 16.9998 7.0625 16.8331 6.7375 16.4998C6.4125 16.1665 5.95 15.9998 5.35 15.9998C5.11667 15.9998 4.89167 16.0415 4.675 16.1248C4.45833 16.2081 4.05833 16.4165 3.475 16.7498C3.14167 16.9331 2.8125 16.929 2.4875 16.7373C2.1625 16.5456 2 16.2581 2 15.8748C2 15.6915 2.04583 15.5206 2.1375 15.3623C2.22917 15.204 2.35833 15.0831 2.525 14.9998C3.325 14.5665 3.87917 14.2915 4.1875 14.1748C4.49583 14.0581 4.88333 13.9998 5.35 13.9998C6.3 13.9998 6.9375 14.1665 7.2625 14.4998C7.5875 14.8331 8.05 14.9998 8.65 14.9998C9.28333 14.9998 9.75417 14.8331 10.0625 14.4998C10.3708 14.1665 11.0167 13.9998 12 13.9998C12.95 13.9998 13.5917 14.1665 13.925 14.4998C14.2583 14.8331 14.7167 14.9998 15.3 14.9998C15.9333 14.9998 16.4042 14.8331 16.7125 14.4998C17.0208 14.1665 17.6667 13.9998 18.65 13.9998C19.1167 13.9998 19.5083 14.0581 19.825 14.1748C20.1417 14.2915 20.6917 14.5665 21.475 14.9998C21.6417 15.0831 21.7708 15.204 21.8625 15.3623C21.9542 15.5206 22 15.6915 22 15.8748C22 16.2581 21.8333 16.5456 21.5 16.7373C21.1667 16.929 20.8333 16.9331 20.5 16.7498C19.9167 16.4165 19.5208 16.2081 19.3125 16.1248C19.1042 16.0415 18.8833 15.9998 18.65 15.9998C18.05 15.9998 17.5958 16.1665 17.2875 16.4998C16.9792 16.8331 16.3333 16.9998 15.35 16.9998C14.4 16.9998 13.7542 16.8331 13.4125 16.4998C13.0708 16.1665 12.6 15.9998 12 15.9998C11.3667 15.9998 10.9042 16.1665 10.6125 16.4998C10.3208 16.8331 9.68333 16.9998 8.7 16.9998Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover ;
    border-bottom-right-radius: 190px ;
}
.visual .wrapper {
    height: 100vh; /* 브라우저 높이에 딱 맞게 */
    min-height: 500px;
    /* 높이가 변하는것은 막지 않지만 최소한 500px은 되어야 한다. */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 사진공방은 absolute라 제외
        h2만 wrapper의 영역 안에서 정렬하기 위해 flex */
    position: relative; /* picture 의 정렬의 기준 */
    }

.visual h2 {
    transform: translateY(-50px);
}
.visual .picture {
    position: absolute; /* wrpaaer를 기준으로 정렬, befor기준으로 정렬 */
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%); 
    /* ransform : 나의 넓이의 절반을 오른쪽으로 이동 50%
        나의 높이의 절반을 아래로 이동 50% */
    width: 190px;
    height: 190px;
    border-radius: 50%; /* 동그라미 */
    background-color: #004AAD;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); /* 그림자 */
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    padding: 106px 0 0 0 ;
    
}
.visual .picture::before {
    content: ""; /* 필수값 */
    position: absolute;
    top: 52px;
    /* 좌우에 가운데 */
    left: 50%; 
    transform: translateX(-50%);
    /**/
    width: 43px;
    height: 43px;
    background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_55_318' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='43' height='43'%3E%3Crect width='43' height='43' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_318)'%3E%3Cpath d='M5.37533 37.6244C4.38991 37.6244 3.54633 37.2735 2.8446 36.5717C2.14286 35.87 1.79199 35.0264 1.79199 34.041V12.541C1.79199 11.5556 2.14286 10.712 2.8446 10.0103C3.54633 9.30855 4.38991 8.95768 5.37533 8.95768H11.0191L13.2587 6.53893C13.5871 6.1806 13.9828 5.89692 14.4456 5.68789C14.9085 5.47886 15.3937 5.37435 15.9014 5.37435H23.292C23.7996 5.37435 24.2252 5.54605 24.5686 5.88945C24.912 6.23286 25.0837 6.65838 25.0837 7.16602C25.0837 7.67365 24.912 8.09918 24.5686 8.44258C24.2252 8.78598 23.7996 8.95768 23.292 8.95768H15.9014L12.6316 12.541H5.37533V34.041H34.042V19.7077C34.042 19.2 34.2137 18.7745 34.5571 18.4311C34.9005 18.0877 35.326 17.916 35.8337 17.916C36.3413 17.916 36.7668 18.0877 37.1102 18.4311C37.4536 18.7745 37.6253 19.2 37.6253 19.7077V34.041C37.6253 35.0264 37.2745 35.87 36.5727 36.5717C35.871 37.2735 35.0274 37.6244 34.042 37.6244H5.37533ZM34.042 8.95768H32.2503C31.7427 8.95768 31.3172 8.78598 30.9738 8.44258C30.6304 8.09918 30.4587 7.67365 30.4587 7.16602C30.4587 6.65838 30.6304 6.23286 30.9738 5.88945C31.3172 5.54605 31.7427 5.37435 32.2503 5.37435H34.042V3.58268C34.042 3.07504 34.2137 2.64952 34.5571 2.30612C34.9005 1.96272 35.326 1.79102 35.8337 1.79102C36.3413 1.79102 36.7668 1.96272 37.1102 2.30612C37.4536 2.64952 37.6253 3.07504 37.6253 3.58268V5.37435H39.417C39.9246 5.37435 40.3501 5.54605 40.6936 5.88945C41.037 6.23286 41.2087 6.65838 41.2087 7.16602C41.2087 7.67365 41.037 8.09918 40.6936 8.44258C40.3501 8.78598 39.9246 8.95768 39.417 8.95768H37.6253V10.7493C37.6253 11.257 37.4536 11.6825 37.1102 12.0259C36.7668 12.3693 36.3413 12.541 35.8337 12.541C35.326 12.541 34.9005 12.3693 34.5571 12.0259C34.2137 11.6825 34.042 11.257 34.042 10.7493V8.95768ZM19.7087 31.3535C21.9482 31.3535 23.8519 30.5697 25.4196 29.002C26.9873 27.4342 27.7712 25.5306 27.7712 23.291C27.7712 21.0514 26.9873 19.1478 25.4196 17.5801C23.8519 16.0124 21.9482 15.2285 19.7087 15.2285C17.4691 15.2285 15.5654 16.0124 13.9977 17.5801C12.43 19.1478 11.6462 21.0514 11.6462 23.291C11.6462 25.5306 12.43 27.4342 13.9977 29.002C15.5654 30.5697 17.4691 31.3535 19.7087 31.3535ZM19.7087 27.7702C18.4545 27.7702 17.3944 27.3372 16.5285 26.4712C15.6625 25.6053 15.2295 24.5452 15.2295 23.291C15.2295 22.0368 15.6625 20.9768 16.5285 20.1108C17.3944 19.2448 18.4545 18.8118 19.7087 18.8118C20.9628 18.8118 22.0229 19.2448 22.8889 20.1108C23.7548 20.9768 24.1878 22.0368 24.1878 23.291C24.1878 24.5452 23.7548 25.6053 22.8889 26.4712C22.0229 27.3372 20.9628 27.7702 19.7087 27.7702Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.visual .picture:hover {
    background-color: #fff;
    color: #004AAD;   
}
.visual .picture:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_55_318' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='43' height='43'%3E%3Crect width='43' height='43' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_318)'%3E%3Cpath d='M5.37533 37.6244C4.38991 37.6244 3.54633 37.2735 2.8446 36.5717C2.14286 35.87 1.79199 35.0264 1.79199 34.041V12.541C1.79199 11.5556 2.14286 10.712 2.8446 10.0103C3.54633 9.30855 4.38991 8.95768 5.37533 8.95768H11.0191L13.2587 6.53893C13.5871 6.1806 13.9828 5.89692 14.4456 5.68789C14.9085 5.47886 15.3937 5.37435 15.9014 5.37435H23.292C23.7996 5.37435 24.2252 5.54605 24.5686 5.88945C24.912 6.23286 25.0837 6.65838 25.0837 7.16602C25.0837 7.67365 24.912 8.09918 24.5686 8.44258C24.2252 8.78598 23.7996 8.95768 23.292 8.95768H15.9014L12.6316 12.541H5.37533V34.041H34.042V19.7077C34.042 19.2 34.2137 18.7745 34.5571 18.4311C34.9005 18.0877 35.326 17.916 35.8337 17.916C36.3413 17.916 36.7668 18.0877 37.1102 18.4311C37.4536 18.7745 37.6253 19.2 37.6253 19.7077V34.041C37.6253 35.0264 37.2745 35.87 36.5727 36.5717C35.871 37.2735 35.0274 37.6244 34.042 37.6244H5.37533ZM34.042 8.95768H32.2503C31.7427 8.95768 31.3172 8.78598 30.9738 8.44258C30.6304 8.09918 30.4587 7.67365 30.4587 7.16602C30.4587 6.65838 30.6304 6.23286 30.9738 5.88945C31.3172 5.54605 31.7427 5.37435 32.2503 5.37435H34.042V3.58268C34.042 3.07504 34.2137 2.64952 34.5571 2.30612C34.9005 1.96272 35.326 1.79102 35.8337 1.79102C36.3413 1.79102 36.7668 1.96272 37.1102 2.30612C37.4536 2.64952 37.6253 3.07504 37.6253 3.58268V5.37435H39.417C39.9246 5.37435 40.3501 5.54605 40.6936 5.88945C41.037 6.23286 41.2087 6.65838 41.2087 7.16602C41.2087 7.67365 41.037 8.09918 40.6936 8.44258C40.3501 8.78598 39.9246 8.95768 39.417 8.95768H37.6253V10.7493C37.6253 11.257 37.4536 11.6825 37.1102 12.0259C36.7668 12.3693 36.3413 12.541 35.8337 12.541C35.326 12.541 34.9005 12.3693 34.5571 12.0259C34.2137 11.6825 34.042 11.257 34.042 10.7493V8.95768ZM19.7087 31.3535C21.9482 31.3535 23.8519 30.5697 25.4196 29.002C26.9873 27.4342 27.7712 25.5306 27.7712 23.291C27.7712 21.0514 26.9873 19.1478 25.4196 17.5801C23.8519 16.0124 21.9482 15.2285 19.7087 15.2285C17.4691 15.2285 15.5654 16.0124 13.9977 17.5801C12.43 19.1478 11.6462 21.0514 11.6462 23.291C11.6462 25.5306 12.43 27.4342 13.9977 29.002C15.5654 30.5697 17.4691 31.3535 19.7087 31.3535ZM19.7087 27.7702C18.4545 27.7702 17.3944 27.3372 16.5285 26.4712C15.6625 25.6053 15.2295 24.5452 15.2295 23.291C15.2295 22.0368 15.6625 20.9768 16.5285 20.1108C17.3944 19.2448 18.4545 18.8118 19.7087 18.8118C20.9628 18.8118 22.0229 19.2448 22.8889 20.1108C23.7548 20.9768 24.1878 22.0368 24.1878 23.291C24.1878 24.5452 23.7548 25.6053 22.8889 26.4712C22.0229 27.3372 20.9628 27.7702 19.7087 27.7702Z' fill='%23004AAD'/%3E%3C/g%3E%3C/svg%3E%0A");

} 

.culture {
    margin: 206px 0 0 0;
}
.culture .wrapper {
    position: relative; /*more정렬의 기준*/
}

.culture .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 17px 0;
}
.culture .list {
    margin: 41px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: calc(25% - 18px);
    /* 100 / li의 갯수 4개 = 100/4 = 25%
    li사이의 여백의 총합 =24+ 24+ 24 = 72
    72/ li의 갯수(4) = 18
    */
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    /* block요소라서 넓이가 100% 들어가 있음*/
    height: 175px;
    overflow: hidden;
}
.culture .list ul li a .photo img {
    /* 뒤죽박죽 사진 잘 들어가게 하기위해 */
    width: 100%; 
    height: 100%;
    object-fit: cover;
    /**/
    transition: 1s; /* 오버효과를 주기전에 동일 선택지에
    transition을 주면 변화되는 값이 부드럽게 바뀜 */
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);

}
.culture .list ul li a h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    margin: 20px 0 10px 0;
}

.culture .more { 
    position: absolute; /* wrapper 기준의 정렬 */
    right: 0;
    top: 0;
    color:#004AAD;
    border: 1px solid #004AAD;
    border-radius: 20px;
    padding: 3px 43px 5px 21px;
    transition: 0.5s; /* 부드럽게 바꿔주는 애니메이션 */
}
.culture .more::after {
    content: "";
    position: absolute;
    right: 18px;
    top: 7px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_55_340' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_340)'%3E%3Cpath d='M8.70898 10.2923H3.95898V8.70898H8.70898V3.95898H10.2923V8.70898H15.0423V10.2923H10.2923V15.0423H8.70898V10.2923Z' fill='%23004AAD'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s; /* 부드럽게 바꿔주는 애니메이션 */
}
.culture .more:hover {
    background-color: #004AAD;
    color: #fff;
}
.culture .more:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_55_340' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_340)'%3E%3Cpath d='M8.70898 10.2923H3.95898V8.70898H8.70898V3.95898H10.2923V8.70898H15.0423V10.2923H10.2923V15.0423H8.70898V10.2923Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
}


@media screen and (max-width: 1770px) {
    /* 브라우저의 넓이가 1770일떄만 적용되는 css*/
    .visual .picture {
        transform: translate(0, 50%); 
    }
}
.tour {
    margin: 140px 0 0 0;
    background-color: #e7e7e7;
    padding: 163px 0 228px 0; /*background-color 는 높이 안줌. 여백 padding로 준다 */
}
.tour .wrapper {
    position: relative; /* more의 정렬의 기준*/
}

.tour .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 17px 0;
} 
.tour .list {
    margin: 44px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 202px;
}
.tour .list ul li.on {
    width: 618px;
    
}
.tour .list ul li a {
    display: flex;
    align-items: flex-end;  
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    height: 309px;
    padding: 0 0 54px 0; /* h3 글자 여백 */
   
}
.tour .list ul li.list01 a {
    background-image: url(../images/tour_list01.jpg);
}
.tour .list ul li.list02 a {
    background-image: url(../images/tour_list02.jpg);
}
.tour .list ul li.list03 a {
    background-image: url(../images/tour_list03.jpg);
}
.tour .list ul li.list04 a {
    background-image: url(../images/tour_list04.jpg);
}

.tour .list ul li a .cnt_wrap {
    display: flex;
    width: 100%;
    justify-content: center; /* h3글자 가운데 정렬 */
}
.tour .list ul li a .cnt_wrap .cnt_tit h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
}
.tour .list ul li a .cnt_wrap .cnt_tit p {
    display: none; /* 글자 안보이게 하는것 */
}
.tour .list ul li a .cnt_wrap sapn {
    display: none; /* 글자 안보이게 하는것 */
}

/**** li의 on클래스가 들어가는 경우 ****/
.tour .list ul li.on {
    width: 618px;
}
.tour .list ul li.on a {
    padding: 0 31px 33px 31px; /* h3 글자 여백 */
}
.tour .list ul li.on a .cnt_wrap {
    justify-content: space-between;
}
.tour .list ul li.on a .cnt_wrap .cnt_tit p {
    display: block; /* 
    /* display : none 숨김요소를 다시 글자 보이게 하려면
     block,flex,inlineblock...주면됨 none만 아니면됨 */
     margin: 2px 0 0 0;
}
.tour .list ul li.on a .cnt_wrap sapn {
    display: block; 
    /* display : none 숨김요소를 다시 글자 보이게 하려면
     block,flex,inlineblock...주면됨 none만 아니면됨 */
    width: 46px;
    height: 46px;
    border: 1px solid #fff;
    border-radius: 50%; /* 동그라미 */
    color : transparent; /* 자세히보기 글자 투명하게 */
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_180_3' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect width='22' height='22' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_180_3)'%3E%3Cpath d='M7.35658 20.1663L5.72949 18.5393L13.2691 10.9997L5.72949 3.46009L7.35658 1.83301L16.5232 10.9997L7.35658 20.1663Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat; 
    /* 아이콘 여기다 주면됨 
    background-size주면 늘어나서 안줌 */
}
/**** END // li의 on클래스가 들어가는 경우 ****/



.tour .more {
    position: absolute; /*wrapper 의 정렬*/
    top: 0;
    right: 0;
    border: 1px solid #004AAD;
    color: #004AAD;
    padding: 3px 43px 5px 21px;
    border-radius: 30px;
    transition: 0.5s; /* 부드럽게 바꿔주는 애니메이션*/
}

.tour .more::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 18px;
    height: 15px;
    width: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_55_346' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_346)'%3E%3Cpath d='M8.70898 10.2923H3.95898V8.70898H8.70898V3.95898H10.2923V8.70898H15.0423V10.2923H10.2923V15.0423H8.70898V10.2923Z' fill='%23004AAD'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s; /* 부드럽게 바꿔주는 애니메이션*/
}
.tour .more:hover {
    background-color: #004AAD;
    color: #fff;
}
.tour .more:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_55_346' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_346)'%3E%3Cpath d='M8.70898 10.2923H3.95898V8.70898H8.70898V3.95898H10.2923V8.70898H15.0423V10.2923H10.2923V15.0423H8.70898V10.2923Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community {
    background: url(../images/community_bg.jpg) no-repeat  center / cover ; 
    height: 900px;
    color: #fff;
    padding: 153px 0 0 0; /* 안쪽 여백 */
}
.community .wrapper {
    display: flex; /* tit 와 inner을 좌우로 배치*/
    justify-content: space-between;
}
.community .tit {
    margin: 17px 0 0 0;
}
.community .tit h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 10px 0;
}
.community .inner {
    display: flex; /* notice와 link를 좌우로 배치*/
    gap : 24px ; /* 여백 사이 */ 
    align-items: flex-end; /* link 아래로 정렬 */
}
.community .inner .notice {
    width: 511px; /* 공지사항 높이와 너비*/
    height: 404px;
    border-radius: 10px;
    background-color: rgba(0, 26, 89, 0.6); /*공지사항 배경컬러*/
    backdrop-filter: blur(10px); /* 배경색 블러 처리*/
    padding: 46px 39px 0 39px; /* 공지사항 안쪽 여백 */
    position: relative; /* more의 정렬의 기준*/
}
.community .inner .notice:hover{
    background-color: #001A59 ;
}
.community .inner .notice h3 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    padding: 0 0 10px 0; /* 줄 사이 밑 여백줌 */
}
.community .inner .notice .list {
    margin: 10px 0 0 0;
}
.community .inner .notice .list ul li{
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .inner .notice .list ul li:first-child {
    /* 
    윗선 없애는법, first-child를 주고 
    border-top: 0; 
    */
}
.community .inner .notice .list ul li a {
    display: flex;
    justify-content: space-between;
    padding: 15px 0; /* strong 겉여백 */
}
.community .inner .notice .list ul li a span {
    width: 80px;
    /* 날짜는 자리수가 늘지 않음
    24-1-1 하면 자릿수가 변동됨 날짜는 24-01-01 표기
    자릿수를 변동시키지 않기 위해 제일 넓은 숫자를 기준으로
    최대넓이를 고정값으로 줌*/
    color: rgb(255,255,255,0.8);
}
.community .inner .notice .list ul li a strong {
    width: calc(100% - 80px);
    /* 100%에서 옆에 날짜 자리 넓이 만큼을 뺸 나머지 전체 */

    /*1줄 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.community .inner .notice .list ul li a:hover strong {
    font-weight: 800;
}
.community .inner .notice .more {
    position: absolute ; /* notice를 기준으로 정렬*/
    right: 70px;
    top: 71px;
    padding: 0 30px 0 0; /* 아이콘 배치할 영역까지 more로 잡혀야 눌림*/
    width: 19px;
    height: 19px;
}
.community .inner .notice .more:hover {
    font-weight: 800;  
}
.community .inner .notice .more:hover::before {
    /* 밑줄 만들기 */
    content: "";
    position: absolute;
    left: 3px;
    bottom: -4px;
    width: calc(100% - -20px);
    height: 1px;
    background-color: rgba(255,255,255,0.8);
}
.community .inner .notice .more::after {
    content: "";
    position: absolute;
    right: -36px;
    top: 3px;
    height: 21px;
    width: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.70898 7.29232H0.958984V5.70898H5.70898V0.958984H7.29232V5.70898H12.0423V7.29232H7.29232V12.0423H5.70898V7.29232Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M7.28027 0.97168V5.72168H12.0303V7.28027H7.28027V12.0303H5.72168V7.28027H0.97168V5.72168H5.72168V0.97168H7.28027Z' stroke='white' stroke-opacity='0.8' stroke-width='0.025'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

.community .inner .link {
    width: 404px;/* 교통,음식박스 2개의 너비 */
}
.community .inner .link ul {
    display: flex; 
    flex-wrap: wrap; /* 줄바꿈 허용*/
    gap: 24px ; /* 여백 위아래 좌우 같아서 1번만줌 */
}
.community .inner .link ul li{
   /* width: 190px;  a한테 높이 주기 , 반응형 들어갈떄 복잡해서. 
   너비 줬다가 link에게 너비를 주어서 다시 li의 너비 계산함*/
   width: calc(50% - 12px);
        /*
        100 / 한줄에 들어가는 li갯수(2개) = 100/2 = 50%
        한줄에 들어가는 여백의 총합  / 한줄에 들어가는 li 갯수  24 / 2 = 12px
        */
}
.community .inner .link ul li a {
     /* li보다 a 한테 줘야 그 전체가 제대로 눌린다 */
    display: block; 
    height: 150px;
    border-radius: 10px;
    background-color: rgba(0, 26, 89, 0.6); /*공지사항 배경컬러*/
    backdrop-filter: blur(10px); /* 배경색 블러 처리*/
    padding: 30px 0 0 30px; /* 글자 바깥 여백 */
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    position: relative;
}
.community .inner .link ul li a:hover {
    background-color: #001A59;
}
.community .inner .link ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬*/
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
}
.community .inner .link ul li.link01 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cmask id='mask0_55_389' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_389)'%3E%3Cpath d='M7.5 26.25C7.14583 26.25 6.84896 26.1302 6.60938 25.8906C6.36979 25.651 6.25 25.3542 6.25 25V22.4375C5.875 22.0208 5.57292 21.5573 5.34375 21.0469C5.11458 20.5365 5 19.9792 5 19.375V7.5C5 5.77083 5.80208 4.50521 7.40625 3.70312C9.01042 2.90104 11.5417 2.5 15 2.5C18.5833 2.5 21.1458 2.88542 22.6875 3.65625C24.2292 4.42708 25 5.70833 25 7.5V19.375C25 19.9792 24.8854 20.5365 24.6562 21.0469C24.4271 21.5573 24.125 22.0208 23.75 22.4375V25C23.75 25.3542 23.6302 25.651 23.3906 25.8906C23.151 26.1302 22.8542 26.25 22.5 26.25H21.25C20.8958 26.25 20.599 26.1302 20.3594 25.8906C20.1198 25.651 20 25.3542 20 25V23.75H10V25C10 25.3542 9.88021 25.651 9.64062 25.8906C9.40104 26.1302 9.10417 26.25 8.75 26.25H7.5ZM7.5 12.5H22.5V8.75H7.5V12.5ZM10.625 20C11.1458 20 11.5885 19.8177 11.9531 19.4531C12.3177 19.0885 12.5 18.6458 12.5 18.125C12.5 17.6042 12.3177 17.1615 11.9531 16.7969C11.5885 16.4323 11.1458 16.25 10.625 16.25C10.1042 16.25 9.66146 16.4323 9.29688 16.7969C8.93229 17.1615 8.75 17.6042 8.75 18.125C8.75 18.6458 8.93229 19.0885 9.29688 19.4531C9.66146 19.8177 10.1042 20 10.625 20ZM19.375 20C19.8958 20 20.3385 19.8177 20.7031 19.4531C21.0677 19.0885 21.25 18.6458 21.25 18.125C21.25 17.6042 21.0677 17.1615 20.7031 16.7969C20.3385 16.4323 19.8958 16.25 19.375 16.25C18.8542 16.25 18.4115 16.4323 18.0469 16.7969C17.6823 17.1615 17.5 17.6042 17.5 18.125C17.5 18.6458 17.6823 19.0885 18.0469 19.4531C18.4115 19.8177 18.8542 20 19.375 20ZM8.0625 6.25H22.0625C21.75 5.89583 21.0781 5.59896 20.0469 5.35938C19.0156 5.11979 17.3542 5 15.0625 5C12.8333 5 11.2031 5.13021 10.1719 5.39062C9.14063 5.65104 8.4375 5.9375 8.0625 6.25ZM10 21.25H20C20.6875 21.25 21.276 21.0052 21.7656 20.5156C22.2552 20.026 22.5 19.4375 22.5 18.75V15H7.5V18.75C7.5 19.4375 7.74479 20.026 8.23438 20.5156C8.72396 21.0052 9.3125 21.25 10 21.25Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link02 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='20' viewBox='0 0 29 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' d='M0 20V11.4286C0 10.7857 0.132917 10.2024 0.39875 9.67857C0.664583 9.15476 1.015 8.69048 1.45 8.28572V4.28571C1.45 3.09524 1.87292 2.08333 2.71875 1.25C3.56458 0.416667 4.59167 0 5.8 0H11.6C12.1558 0 12.6754 0.10119 13.1588 0.303571C13.6421 0.505952 14.0892 0.785714 14.5 1.14286C14.9108 0.785714 15.3579 0.505952 15.8413 0.303571C16.3246 0.10119 16.8442 0 17.4 0H23.2C24.4083 0 25.4354 0.416667 26.2812 1.25C27.1271 2.08333 27.55 3.09524 27.55 4.28571V8.28572C27.985 8.69048 28.3354 9.15476 28.6013 9.67857C28.8671 10.2024 29 10.7857 29 11.4286V20H26.1V17.1429H2.9V20H0ZM15.95 7.14286H24.65V4.28571C24.65 3.88095 24.511 3.54167 24.2331 3.26786C23.9552 2.99405 23.6108 2.85714 23.2 2.85714H17.4C16.9892 2.85714 16.6448 2.99405 16.3669 3.26786C16.089 3.54167 15.95 3.88095 15.95 4.28571V7.14286ZM4.35 7.14286H13.05V4.28571C13.05 3.88095 12.911 3.54167 12.6331 3.26786C12.3552 2.99405 12.0108 2.85714 11.6 2.85714H5.8C5.38917 2.85714 5.04479 2.99405 4.76688 3.26786C4.48896 3.54167 4.35 3.88095 4.35 4.28571V7.14286ZM2.9 14.2857H26.1V11.4286C26.1 11.0238 25.961 10.6845 25.6831 10.4107C25.4052 10.1369 25.0608 10 24.65 10H4.35C3.93917 10 3.59479 10.1369 3.31688 10.4107C3.03896 10.6845 2.9 11.0238 2.9 11.4286V14.2857Z' fill='white'/%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link03 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cmask id='mask0_55_622' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_622)'%3E%3Cpath d='M6 22V12.85C5.1 12.6167 4.375 12.1417 3.825 11.425C3.275 10.7083 3 9.9 3 9V2H5V8H6V2H8V8H9V2H11V9C11 9.9 10.725 10.7083 10.175 11.425C9.625 12.1417 8.9 12.6167 8 12.85V22H6ZM16 22V12.475C15.1 12.175 14.375 11.5458 13.825 10.5875C13.275 9.62917 13 8.54167 13 7.325C13 5.84167 13.3917 4.58333 14.175 3.55C14.9583 2.51667 15.9 2 17 2C18.1 2 19.0417 2.52083 19.825 3.5625C20.6083 4.60417 21 5.86667 21 7.35C21 8.56667 20.725 9.65 20.175 10.6C19.625 11.55 18.9 12.175 18 12.475V22H16Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}
.community .inner .link ul li.link04 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cmask id='mask0_55_626' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_55_626)'%3E%3Cpath d='M2 22C2.48333 20.7667 2.80417 19.4958 2.9625 18.1875C3.12083 16.8792 3.21667 15.5667 3.25 14.25C2.6 14 2.0625 13.5833 1.6375 13C1.2125 12.4167 1 11.75 1 11V9C2.91667 8.36667 4.87083 7.4 6.8625 6.1C8.85417 4.8 10.5667 3.43333 12 2C13.4333 3.43333 15.1458 4.8 17.1375 6.1C19.1292 7.4 21.0833 8.36667 23 9V11C23 11.75 22.7875 12.4167 22.3625 13C21.9375 13.5833 21.4 14 20.75 14.25C20.7833 15.5667 20.8792 16.8792 21.0375 18.1875C21.1958 19.4958 21.5167 20.7667 22 22H2ZM5.9 9H18.1C16.8 8.26667 15.6292 7.5125 14.5875 6.7375C13.5458 5.9625 12.6833 5.28333 12 4.7C11.3167 5.28333 10.4542 5.9625 9.4125 6.7375C8.37083 7.5125 7.2 8.26667 5.9 9ZM14.5 12.5C14.9167 12.5 15.2708 12.3542 15.5625 12.0625C15.8542 11.7708 16 11.4167 16 11H13C13 11.4167 13.1458 11.7708 13.4375 12.0625C13.7292 12.3542 14.0833 12.5 14.5 12.5ZM9.5 12.5C9.91667 12.5 10.2708 12.3542 10.5625 12.0625C10.8542 11.7708 11 11.4167 11 11H8C8 11.4167 8.14583 11.7708 8.4375 12.0625C8.72917 12.3542 9.08333 12.5 9.5 12.5ZM4.5 12.5C4.91667 12.5 5.27083 12.3542 5.5625 12.0625C5.85417 11.7708 6 11.4167 6 11H3C3 11.4167 3.14583 11.7708 3.4375 12.0625C3.72917 12.3542 4.08333 12.5 4.5 12.5ZM4.65 20H7.325C7.475 19 7.59167 18.0083 7.675 17.025C7.75833 16.0417 7.825 15.05 7.875 14.05C7.725 13.9667 7.575 13.8792 7.425 13.7875C7.275 13.6958 7.13333 13.5833 7 13.45C6.75 13.7 6.47917 13.9042 6.1875 14.0625C5.89583 14.2208 5.58333 14.3417 5.25 14.425C5.21667 15.375 5.15833 16.3125 5.075 17.2375C4.99167 18.1625 4.85 19.0833 4.65 20ZM9.35 20H14.65C14.5167 19.0833 14.4125 18.1667 14.3375 17.25C14.2625 16.3333 14.2 15.4083 14.15 14.475C13.7167 14.4417 13.3208 14.3375 12.9625 14.1625C12.6042 13.9875 12.2833 13.7583 12 13.475C11.7167 13.7583 11.3875 13.9875 11.0125 14.1625C10.6375 14.3375 10.25 14.4417 9.85 14.475C9.8 15.4083 9.7375 16.3333 9.6625 17.25C9.5875 18.1667 9.48333 19.0833 9.35 20ZM16.675 20H19.35C19.15 19.0833 19.0083 18.1625 18.925 17.2375C18.8417 16.3125 18.7833 15.375 18.75 14.425C18.4167 14.3417 18.1 14.2208 17.8 14.0625C17.5 13.9042 17.2333 13.7 17 13.45C16.8667 13.5833 16.725 13.6958 16.575 13.7875C16.425 13.8792 16.275 13.9667 16.125 14.05C16.175 15.05 16.2458 16.0417 16.3375 17.025C16.4292 18.0083 16.5417 19 16.675 20ZM19.5 12.5C19.9167 12.5 20.2708 12.3542 20.5625 12.0625C20.8542 11.7708 21 11.4167 21 11H18C18 11.4167 18.1458 11.7708 18.4375 12.0625C18.7292 12.3542 19.0833 12.5 19.5 12.5Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}

footer {
    /* footer는 높이 안잡아도됨 */
    padding: 92px 0 99px 0 ; 
    color: #666
}
footer .f_nav ul {
    display: flex;
    gap: 42px ; /* 여백 */
}
footer .f_nav ul li {
    position: relative; /* before 정렬의 기준*/
}
footer .f_nav ul li::before {
    /* 작대기 */
    content: "";
    position: absolute; /* li를 기준으로 정렬 */
    left: -21px;
    top: 5px;
    width: 1px;
    height: 13px;
    background-color: #ccc;
}
footer .f_nav ul li:first-child::before {
    display: none; /* 첫번째 작대기 숨김처리 */
}
footer .f_nav ul li a:hover {
    text-decoration: underline;
}
footer .f_info {
    padding: 40px 0;
    display: flex;
    gap: 20px;
}
footer .copyright p{
    margin: 7px 0 0 0;
}
footer .copyright strong {
    position: relative ; /* afterd의 정렬의 기준 */
}
footer .copyright strong::after {
    /* 밑줄 만들기 */
    content: "";
    position: absolute; /* strong의 기준의 정렬 */
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background-color: #CCC;
    
}