/* header와 footer가 같이 모든페이지 공통사항 저장 */

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 0 20px; /* 금호건설 아이콘과 util아이콘 양끝에 20px여백줌 */
    display: flex; /*logo ,gnb , util 좌우배치 */
    justify-content: space-between;
    align-items: center; /*위아래 가운데*/
    color: #fff;

    transition: top 0.5s; /*top만*/

}
header .logo {
    margin-bottom: 20px;
}
header .logo a {
    display: block;
    width: 10.23em; /*174/17*/
    height: 3.35em; /*57/17*/
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}

header .util {
    display: flex;
    gap: 1.47em; /*25*/
}
header .util .lang .lang_open {
    padding: 0 0 0 1.29em; /*22*/
    position: relative;
}
header .util .lang .lang_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.29em;
    width: 1.05em;
    height: 1.05em;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00033 17.3337C7.86144 17.3337 6.78505 17.1149 5.77116 16.6774C4.75727 16.2399 3.87185 15.6427 3.11491 14.8857C2.35796 14.1288 1.76074 13.2434 1.32324 12.2295C0.885742 11.2156 0.666992 10.1392 0.666992 9.00033C0.666992 7.84755 0.885742 6.76769 1.32324 5.76074C1.76074 4.7538 2.35796 3.87185 3.11491 3.11491C3.87185 2.35796 4.75727 1.76074 5.77116 1.32324C6.78505 0.885742 7.86144 0.666992 9.00033 0.666992C10.1531 0.666992 11.233 0.885742 12.2399 1.32324C13.2469 1.76074 14.1288 2.35796 14.8857 3.11491C15.6427 3.87185 16.2399 4.7538 16.6774 5.76074C17.1149 6.76769 17.3337 7.84755 17.3337 9.00033C17.3337 10.1392 17.1149 11.2156 16.6774 12.2295C16.2399 13.2434 15.6427 14.1288 14.8857 14.8857C14.1288 15.6427 13.2469 16.2399 12.2399 16.6774C11.233 17.1149 10.1531 17.3337 9.00033 17.3337ZM9.00033 15.6253C9.36144 15.1253 9.67394 14.6045 9.93783 14.0628C10.2017 13.5212 10.417 12.9448 10.5837 12.3337H7.41699C7.58366 12.9448 7.79894 13.5212 8.06283 14.0628C8.32671 14.6045 8.63921 15.1253 9.00033 15.6253ZM6.83366 15.292C6.58366 14.8337 6.36491 14.358 6.17741 13.8649C5.98991 13.3719 5.83366 12.8614 5.70866 12.3337H3.25033C3.6531 13.0281 4.15658 13.6323 4.76074 14.1462C5.36491 14.66 6.05588 15.042 6.83366 15.292ZM11.167 15.292C11.9448 15.042 12.6357 14.66 13.2399 14.1462C13.8441 13.6323 14.3475 13.0281 14.7503 12.3337H12.292C12.167 12.8614 12.0107 13.3719 11.8232 13.8649C11.6357 14.358 11.417 14.8337 11.167 15.292ZM2.54199 10.667H5.37533C5.33366 10.3892 5.30241 10.1149 5.28158 9.84408C5.26074 9.57324 5.25033 9.29199 5.25033 9.00033C5.25033 8.70866 5.26074 8.42741 5.28158 8.15658C5.30241 7.88574 5.33366 7.61144 5.37533 7.33366H2.54199C2.47255 7.61144 2.42046 7.88574 2.38574 8.15658C2.35102 8.42741 2.33366 8.70866 2.33366 9.00033C2.33366 9.29199 2.35102 9.57324 2.38574 9.84408C2.42046 10.1149 2.47255 10.3892 2.54199 10.667ZM7.04199 10.667H10.9587C11.0003 10.3892 11.0316 10.1149 11.0524 9.84408C11.0732 9.57324 11.0837 9.29199 11.0837 9.00033C11.0837 8.70866 11.0732 8.42741 11.0524 8.15658C11.0316 7.88574 11.0003 7.61144 10.9587 7.33366H7.04199C7.00033 7.61144 6.96908 7.88574 6.94824 8.15658C6.92741 8.42741 6.91699 8.70866 6.91699 9.00033C6.91699 9.29199 6.92741 9.57324 6.94824 9.84408C6.96908 10.1149 7.00033 10.3892 7.04199 10.667ZM12.6253 10.667H15.4587C15.5281 10.3892 15.5802 10.1149 15.6149 9.84408C15.6496 9.57324 15.667 9.29199 15.667 9.00033C15.667 8.70866 15.6496 8.42741 15.6149 8.15658C15.5802 7.88574 15.5281 7.61144 15.4587 7.33366H12.6253C12.667 7.61144 12.6982 7.88574 12.7191 8.15658C12.7399 8.42741 12.7503 8.70866 12.7503 9.00033C12.7503 9.29199 12.7399 9.57324 12.7191 9.84408C12.6982 10.1149 12.667 10.3892 12.6253 10.667ZM12.292 5.66699H14.7503C14.3475 4.97255 13.8441 4.36838 13.2399 3.85449C12.6357 3.3406 11.9448 2.95866 11.167 2.70866C11.417 3.16699 11.6357 3.64269 11.8232 4.13574C12.0107 4.6288 12.167 5.13921 12.292 5.66699ZM7.41699 5.66699H10.5837C10.417 5.05588 10.2017 4.47949 9.93783 3.93783C9.67394 3.39616 9.36144 2.87533 9.00033 2.37533C8.63921 2.87533 8.32671 3.39616 8.06283 3.93783C7.79894 4.47949 7.58366 5.05588 7.41699 5.66699ZM3.25033 5.66699H5.70866C5.83366 5.13921 5.98991 4.6288 6.17741 4.13574C6.36491 3.64269 6.58366 3.16699 6.83366 2.70866C6.05588 2.95866 5.36491 3.3406 4.76074 3.85449C4.15658 4.36838 3.6531 4.97255 3.25033 5.66699Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /*영역이 아이콘에 들어갈 만큼 줘서 contain 주는게 좋음*/
}
header .util .search .search_open {
    padding: 0 0 0 1.29em; /*22*/
    position: relative;
}
header .util .search .search_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.29em;
    width: 0.94em;
    height: 0.94em;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3333 15.5L9.08333 10.25C8.66667 10.5833 8.1875 10.8472 7.64583 11.0417C7.10417 11.2361 6.52778 11.3333 5.91667 11.3333C4.40278 11.3333 3.12153 10.809 2.07292 9.76042C1.02431 8.71181 0.5 7.43056 0.5 5.91667C0.5 4.40278 1.02431 3.12153 2.07292 2.07292C3.12153 1.02431 4.40278 0.5 5.91667 0.5C7.43056 0.5 8.71181 1.02431 9.76042 2.07292C10.809 3.12153 11.3333 4.40278 11.3333 5.91667C11.3333 6.52778 11.2361 7.10417 11.0417 7.64583C10.8472 8.1875 10.5833 8.66667 10.25 9.08333L15.5 14.3333L14.3333 15.5ZM5.91667 9.66667C6.95833 9.66667 7.84375 9.30208 8.57292 8.57292C9.30208 7.84375 9.66667 6.95833 9.66667 5.91667C9.66667 4.875 9.30208 3.98958 8.57292 3.26042C7.84375 2.53125 6.95833 2.16667 5.91667 2.16667C4.875 2.16667 3.98958 2.53125 3.26042 3.26042C2.53125 3.98958 2.16667 4.875 2.16667 5.91667C2.16667 6.95833 2.53125 7.84375 3.26042 8.57292C3.98958 9.30208 4.875 9.66667 5.91667 9.66667Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /*영역이 아이콘에 들어갈 만큼 줘서 contain 주는게 좋음*/
}

/************** 아래로 스크롤 내릴때 header가 사라짐 *******************/
header.fixed.gnb_up {
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over {
    top: 0; /* 마우스를 오버할때 스크롤을 내렸을때 움직이지 않음 */
}


/************** header에 fixed 클래스 추가 되었을때 시작*******************/


header.fixed,
header.menu_over  {
    background-color: #fff;
    color: var(--tit-color);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}

header.fixed .logo a,
header.menu_over .logo a {
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    background-image: url(../images/common/logo.svg);
}

header.fixed .util .lang .lang_open::before,
header.menu_over .util .lang .lang_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_651' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_651)'%3E%3Cpath d='M10.0003 18.3337C8.86144 18.3337 7.78505 18.1149 6.77116 17.6774C5.75727 17.2399 4.87185 16.6427 4.11491 15.8857C3.35796 15.1288 2.76074 14.2434 2.32324 13.2295C1.88574 12.2156 1.66699 11.1392 1.66699 10.0003C1.66699 8.84755 1.88574 7.76769 2.32324 6.76074C2.76074 5.7538 3.35796 4.87185 4.11491 4.11491C4.87185 3.35796 5.75727 2.76074 6.77116 2.32324C7.78505 1.88574 8.86144 1.66699 10.0003 1.66699C11.1531 1.66699 12.233 1.88574 13.2399 2.32324C14.2469 2.76074 15.1288 3.35796 15.8857 4.11491C16.6427 4.87185 17.2399 5.7538 17.6774 6.76074C18.1149 7.76769 18.3337 8.84755 18.3337 10.0003C18.3337 11.1392 18.1149 12.2156 17.6774 13.2295C17.2399 14.2434 16.6427 15.1288 15.8857 15.8857C15.1288 16.6427 14.2469 17.2399 13.2399 17.6774C12.233 18.1149 11.1531 18.3337 10.0003 18.3337ZM10.0003 16.6253C10.3614 16.1253 10.6739 15.6045 10.9378 15.0628C11.2017 14.5212 11.417 13.9448 11.5837 13.3337H8.41699C8.58366 13.9448 8.79894 14.5212 9.06283 15.0628C9.32671 15.6045 9.63921 16.1253 10.0003 16.6253ZM7.83366 16.292C7.58366 15.8337 7.36491 15.358 7.17741 14.8649C6.98991 14.3719 6.83366 13.8614 6.70866 13.3337H4.25033C4.6531 14.0281 5.15658 14.6323 5.76074 15.1462C6.36491 15.66 7.05588 16.042 7.83366 16.292ZM12.167 16.292C12.9448 16.042 13.6357 15.66 14.2399 15.1462C14.8441 14.6323 15.3475 14.0281 15.7503 13.3337H13.292C13.167 13.8614 13.0107 14.3719 12.8232 14.8649C12.6357 15.358 12.417 15.8337 12.167 16.292ZM3.54199 11.667H6.37533C6.33366 11.3892 6.30241 11.1149 6.28158 10.8441C6.26074 10.5732 6.25033 10.292 6.25033 10.0003C6.25033 9.70866 6.26074 9.42741 6.28158 9.15658C6.30241 8.88574 6.33366 8.61144 6.37533 8.33366H3.54199C3.47255 8.61144 3.42046 8.88574 3.38574 9.15658C3.35102 9.42741 3.33366 9.70866 3.33366 10.0003C3.33366 10.292 3.35102 10.5732 3.38574 10.8441C3.42046 11.1149 3.47255 11.3892 3.54199 11.667ZM8.04199 11.667H11.9587C12.0003 11.3892 12.0316 11.1149 12.0524 10.8441C12.0732 10.5732 12.0837 10.292 12.0837 10.0003C12.0837 9.70866 12.0732 9.42741 12.0524 9.15658C12.0316 8.88574 12.0003 8.61144 11.9587 8.33366H8.04199C8.00033 8.61144 7.96908 8.88574 7.94824 9.15658C7.92741 9.42741 7.91699 9.70866 7.91699 10.0003C7.91699 10.292 7.92741 10.5732 7.94824 10.8441C7.96908 11.1149 8.00033 11.3892 8.04199 11.667ZM13.6253 11.667H16.4587C16.5281 11.3892 16.5802 11.1149 16.6149 10.8441C16.6496 10.5732 16.667 10.292 16.667 10.0003C16.667 9.70866 16.6496 9.42741 16.6149 9.15658C16.5802 8.88574 16.5281 8.61144 16.4587 8.33366H13.6253C13.667 8.61144 13.6982 8.88574 13.7191 9.15658C13.7399 9.42741 13.7503 9.70866 13.7503 10.0003C13.7503 10.292 13.7399 10.5732 13.7191 10.8441C13.6982 11.1149 13.667 11.3892 13.6253 11.667ZM13.292 6.66699H15.7503C15.3475 5.97255 14.8441 5.36838 14.2399 4.85449C13.6357 4.3406 12.9448 3.95866 12.167 3.70866C12.417 4.16699 12.6357 4.64269 12.8232 5.13574C13.0107 5.6288 13.167 6.13921 13.292 6.66699ZM8.41699 6.66699H11.5837C11.417 6.05588 11.2017 5.47949 10.9378 4.93783C10.6739 4.39616 10.3614 3.87533 10.0003 3.37533C9.63921 3.87533 9.32671 4.39616 9.06283 4.93783C8.79894 5.47949 8.58366 6.05588 8.41699 6.66699ZM4.25033 6.66699H6.70866C6.83366 6.13921 6.98991 5.6288 7.17741 5.13574C7.36491 4.64269 7.58366 4.16699 7.83366 3.70866C7.05588 3.95866 6.36491 4.3406 5.76074 4.85449C5.15658 5.36838 4.6531 5.97255 4.25033 6.66699Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}

header.fixed .util .search .search_open::before,
header.menu_over .util .search .search_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3333 15.5L9.08333 10.25C8.66667 10.5833 8.1875 10.8472 7.64583 11.0417C7.10417 11.2361 6.52778 11.3333 5.91667 11.3333C4.40278 11.3333 3.12153 10.809 2.07292 9.76042C1.02431 8.71181 0.5 7.43056 0.5 5.91667C0.5 4.40278 1.02431 3.12153 2.07292 2.07292C3.12153 1.02431 4.40278 0.5 5.91667 0.5C7.43056 0.5 8.71181 1.02431 9.76042 2.07292C10.809 3.12153 11.3333 4.40278 11.3333 5.91667C11.3333 6.52778 11.2361 7.10417 11.0417 7.64583C10.8472 8.1875 10.5833 8.66667 10.25 9.08333L15.5 14.3333L14.3333 15.5ZM5.91667 9.66667C6.95833 9.66667 7.84375 9.30208 8.57292 8.57292C9.30208 7.84375 9.66667 6.95833 9.66667 5.91667C9.66667 4.875 9.30208 3.98958 8.57292 3.26042C7.84375 2.53125 6.95833 2.16667 5.91667 2.16667C4.875 2.16667 3.98958 2.53125 3.26042 3.26042C2.53125 3.98958 2.16667 4.875 2.16667 5.91667C2.16667 6.95833 2.53125 7.84375 3.26042 8.57292C3.98958 9.30208 4.875 9.66667 5.91667 9.66667Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}

/************** header에 fixed 클래스 추가 되었을때 종료*******************/


@media screen and (min-width:1025px) { /*pc 버전만*/

    header .gnb .gnb_util,
    header .gnb .gnb_open, 
    header .gnb .gnb_close {
        display: none; 
    }

    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7.76em; /*박스그렸던 너비 132px*/
        text-align: center;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h);
        font-size: 1.29rem;
        font-weight: var(--bold-weight);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--point-color);
    }
     header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative; /*after 정렬의 기준 ,작대기*/
     }
     header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.7em; /*-37*/
        width: 100%;
        height: 0;
        border: 1px solid var(--point-color);

     }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute; /*li를 기준으로 정렬*/
        left: 0;
        top: var(--header-h); /*헤더의 높이값만큼*/
        width: 100%; /*ul의 너비가 작아서 너비를100% 줘야 li(depth2 정렬의 기준)의 너비와 동일해져 li에 맞춰 가운데로 들어감 */
        padding-top: 29px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--tit-color);
        line-height: 1.7;
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--bold-weight);
        color: var(--point-color);
    }


    /********** menu_over 했을때 추가시 *********/

    header.menu_over::before {
        content: "";
        position: absolute; /*header를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 19.35em; /*329px  메뉴오버시 네모박스 */
        background-color: #fff;
        z-index: -1; /*header 안에 있는 요소들 중에 맨 아래
                    header에 배경색을 줘도 그거보다는 위에 존재함 */
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
    }
     header.menu_over::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #ededed;
     }

    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block; /* 나타남 */
    }
}/*@media*/

@media screen and (min-width:1025px) and (max-width:1300px) {
    /* 1300 ~ 1024 사이일때 */

    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7em; /*박스그렸던 너비 */
    }
    header .logo a {
    width: 8.58em; /*146/17*/
    height: 2.82em; /*48/17*/
    }
}/*@media*/

@media screen and (max-width:1024px) {
            header {
            padding: 0 0 0 20px; /* 모바일 */
        }
        header .logo {
            margin-bottom: 5px;
        }
        header .logo a {
            width: 5.5em; /*88/16*/
            height: 1.81em; /*29/16*/
        }

        header .util {
            display: none;
            gap: 0.25em; /*4 */
        }
        header .gnb .gnb_util {
            display: none;
        }
        header .gnb .gnb_open {
            display: block;
            width: var(--header-h);
            height: var(--header-h);
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_52' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='19'%3E%3Crect width='24' height='18.5231' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_52)'%3E%3Cpath d='M4 18.5645C3.71667 18.5645 3.47917 18.4686 3.2875 18.277C3.09583 18.0853 3 17.8478 3 17.5645C3 17.2811 3.09583 17.0436 3.2875 16.852C3.47917 16.6603 3.71667 16.5645 4 16.5645H20C20.2833 16.5645 20.5208 16.6603 20.7125 16.852C20.9042 17.0436 21 17.2811 21 17.5645C21 17.8478 20.9042 18.0853 20.7125 18.277C20.5208 18.4686 20.2833 18.5645 20 18.5645H4ZM4 10.5645C3.71667 10.5645 3.47917 10.4686 3.2875 10.277C3.09583 10.0853 3 9.84779 3 9.56445C3 9.28112 3.09583 9.04362 3.2875 8.85195C3.47917 8.66029 3.71667 8.56445 4 8.56445H20C20.2833 8.56445 20.5208 8.66029 20.7125 8.85195C20.9042 9.04362 21 9.28112 21 9.56445C21 9.84779 20.9042 10.0853 20.7125 10.277C20.5208 10.4686 20.2833 10.5645 20 10.5645H4ZM4 2.56445C3.71667 2.56445 3.47917 2.46862 3.2875 2.27695C3.09583 2.08529 3 1.84779 3 1.56445C3 1.28112 3.09583 1.04362 3.2875 0.851953C3.47917 0.660286 3.71667 0.564453 4 0.564453H20C20.2833 0.564453 20.5208 0.660286 20.7125 0.851953C20.9042 1.04362 21 1.28112 21 1.56445C21 1.84779 20.9042 2.08529 20.7125 2.27695C20.5208 2.46862 20.2833 2.56445 20 2.56445H4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        header.fixed .gnb .gnb_open {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_52' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='19'%3E%3Crect width='24' height='18.5231' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_52)'%3E%3Cpath d='M4 18.5645C3.71667 18.5645 3.47917 18.4686 3.2875 18.277C3.09583 18.0853 3 17.8478 3 17.5645C3 17.2811 3.09583 17.0436 3.2875 16.852C3.47917 16.6603 3.71667 16.5645 4 16.5645H20C20.2833 16.5645 20.5208 16.6603 20.7125 16.852C20.9042 17.0436 21 17.2811 21 17.5645C21 17.8478 20.9042 18.0853 20.7125 18.277C20.5208 18.4686 20.2833 18.5645 20 18.5645H4ZM4 10.5645C3.71667 10.5645 3.47917 10.4686 3.2875 10.277C3.09583 10.0853 3 9.84779 3 9.56445C3 9.28112 3.09583 9.04362 3.2875 8.85195C3.47917 8.66029 3.71667 8.56445 4 8.56445H20C20.2833 8.56445 20.5208 8.66029 20.7125 8.85195C20.9042 9.04362 21 9.28112 21 9.56445C21 9.84779 20.9042 10.0853 20.7125 10.277C20.5208 10.4686 20.2833 10.5645 20 10.5645H4ZM4 2.56445C3.71667 2.56445 3.47917 2.46862 3.2875 2.27695C3.09583 2.08529 3 1.84779 3 1.56445C3 1.28112 3.09583 1.04362 3.2875 0.851953C3.47917 0.660286 3.71667 0.564453 4 0.564453H20C20.2833 0.564453 20.5208 0.660286 20.7125 0.851953C20.9042 1.04362 21 1.28112 21 1.56445C21 1.84779 20.9042 2.08529 20.7125 2.27695C20.5208 2.46862 20.2833 2.56445 20 2.56445H4Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        header .gnb .gnb_wrap {
            position: fixed;
            right: -100%; /*메뉴 왔다갔다 할떄*/
            top: 0;
            width: calc(100% - 3.75em); /*60px*/
            height: 100%;
            background-color: #fff;
            color: var(--tit-color);
            transition: 0.5s;
        }
        header .gnb .gnb_close {
            display: none;
            position: absolute; /*gnb_wrap기준으로 정렬*/
            right: 0;
            top: 0;
            width: var(--header-h);
            height: var(--header-h);
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99994 9.63327L2.28327 15.3499C2.06938 15.5638 1.79716 15.6708 1.4666 15.6708C1.13605 15.6708 0.863824 15.5638 0.649935 15.3499C0.436046 15.136 0.329102 14.8638 0.329102 14.5333C0.329102 14.2027 0.436046 13.9305 0.649935 13.7166L6.3666 7.99994L0.649935 2.28327C0.436046 2.06938 0.329102 1.79716 0.329102 1.4666C0.329102 1.13605 0.436046 0.863824 0.649935 0.649935C0.863824 0.436046 1.13605 0.329102 1.4666 0.329102C1.79716 0.329102 2.06938 0.436046 2.28327 0.649935L7.99994 6.3666L13.7166 0.649935C13.9305 0.436046 14.2027 0.329102 14.5333 0.329102C14.8638 0.329102 15.136 0.436046 15.3499 0.649935C15.5638 0.863824 15.6708 1.13605 15.6708 1.4666C15.6708 1.79716 15.5638 2.06938 15.3499 2.28327L9.63327 7.99994L15.3499 13.7166C15.5638 13.9305 15.6708 14.2027 15.6708 14.5333C15.6708 14.8638 15.5638 15.136 15.3499 15.3499C15.136 15.5638 14.8638 15.6708 14.5333 15.6708C14.2027 15.6708 13.9305 15.5638 13.7166 15.3499L7.99994 9.63327Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
        }
        /* 메뉴가 열렸을때 */
        header.menu_open .gnb .gnb_wrap {
            right: 0; /*메뉴 왔다갔다 할떄*/
        }
        header.menu_open .gnb .gnb_close {
            display: block;
        }
}/*@media*/





footer {
    margin: 1000px 0 0 0;
}