/* header와 footer가 같이 모든페이지 공통사항 저장 */

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 0 20px; /* 금호건설 아이콘과 util아이콘 양끝에 20px여백줌 */
    display: flex; /*logo ,gnb , util 좌우배치 */
    justify-content: space-between;
    align-items: center; /*위아래 가운데*/
    color: #fff;
}
header .logo a {
    display: block;
    width: 10.23em; /*174/17*/
    height: 3.35em; /*57/17*/
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}

header .util {
    display: flex;
    gap: 1.47em; /*25*/
}
header .util .lang .lang_open {
    padding: 0 0 0 1.29em; /*22*/
    position: relative;
}
header .util .lang .lang_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.29em;
    width: 1.05em;
    height: 1.05em;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00033 17.3337C7.86144 17.3337 6.78505 17.1149 5.77116 16.6774C4.75727 16.2399 3.87185 15.6427 3.11491 14.8857C2.35796 14.1288 1.76074 13.2434 1.32324 12.2295C0.885742 11.2156 0.666992 10.1392 0.666992 9.00033C0.666992 7.84755 0.885742 6.76769 1.32324 5.76074C1.76074 4.7538 2.35796 3.87185 3.11491 3.11491C3.87185 2.35796 4.75727 1.76074 5.77116 1.32324C6.78505 0.885742 7.86144 0.666992 9.00033 0.666992C10.1531 0.666992 11.233 0.885742 12.2399 1.32324C13.2469 1.76074 14.1288 2.35796 14.8857 3.11491C15.6427 3.87185 16.2399 4.7538 16.6774 5.76074C17.1149 6.76769 17.3337 7.84755 17.3337 9.00033C17.3337 10.1392 17.1149 11.2156 16.6774 12.2295C16.2399 13.2434 15.6427 14.1288 14.8857 14.8857C14.1288 15.6427 13.2469 16.2399 12.2399 16.6774C11.233 17.1149 10.1531 17.3337 9.00033 17.3337ZM9.00033 15.6253C9.36144 15.1253 9.67394 14.6045 9.93783 14.0628C10.2017 13.5212 10.417 12.9448 10.5837 12.3337H7.41699C7.58366 12.9448 7.79894 13.5212 8.06283 14.0628C8.32671 14.6045 8.63921 15.1253 9.00033 15.6253ZM6.83366 15.292C6.58366 14.8337 6.36491 14.358 6.17741 13.8649C5.98991 13.3719 5.83366 12.8614 5.70866 12.3337H3.25033C3.6531 13.0281 4.15658 13.6323 4.76074 14.1462C5.36491 14.66 6.05588 15.042 6.83366 15.292ZM11.167 15.292C11.9448 15.042 12.6357 14.66 13.2399 14.1462C13.8441 13.6323 14.3475 13.0281 14.7503 12.3337H12.292C12.167 12.8614 12.0107 13.3719 11.8232 13.8649C11.6357 14.358 11.417 14.8337 11.167 15.292ZM2.54199 10.667H5.37533C5.33366 10.3892 5.30241 10.1149 5.28158 9.84408C5.26074 9.57324 5.25033 9.29199 5.25033 9.00033C5.25033 8.70866 5.26074 8.42741 5.28158 8.15658C5.30241 7.88574 5.33366 7.61144 5.37533 7.33366H2.54199C2.47255 7.61144 2.42046 7.88574 2.38574 8.15658C2.35102 8.42741 2.33366 8.70866 2.33366 9.00033C2.33366 9.29199 2.35102 9.57324 2.38574 9.84408C2.42046 10.1149 2.47255 10.3892 2.54199 10.667ZM7.04199 10.667H10.9587C11.0003 10.3892 11.0316 10.1149 11.0524 9.84408C11.0732 9.57324 11.0837 9.29199 11.0837 9.00033C11.0837 8.70866 11.0732 8.42741 11.0524 8.15658C11.0316 7.88574 11.0003 7.61144 10.9587 7.33366H7.04199C7.00033 7.61144 6.96908 7.88574 6.94824 8.15658C6.92741 8.42741 6.91699 8.70866 6.91699 9.00033C6.91699 9.29199 6.92741 9.57324 6.94824 9.84408C6.96908 10.1149 7.00033 10.3892 7.04199 10.667ZM12.6253 10.667H15.4587C15.5281 10.3892 15.5802 10.1149 15.6149 9.84408C15.6496 9.57324 15.667 9.29199 15.667 9.00033C15.667 8.70866 15.6496 8.42741 15.6149 8.15658C15.5802 7.88574 15.5281 7.61144 15.4587 7.33366H12.6253C12.667 7.61144 12.6982 7.88574 12.7191 8.15658C12.7399 8.42741 12.7503 8.70866 12.7503 9.00033C12.7503 9.29199 12.7399 9.57324 12.7191 9.84408C12.6982 10.1149 12.667 10.3892 12.6253 10.667ZM12.292 5.66699H14.7503C14.3475 4.97255 13.8441 4.36838 13.2399 3.85449C12.6357 3.3406 11.9448 2.95866 11.167 2.70866C11.417 3.16699 11.6357 3.64269 11.8232 4.13574C12.0107 4.6288 12.167 5.13921 12.292 5.66699ZM7.41699 5.66699H10.5837C10.417 5.05588 10.2017 4.47949 9.93783 3.93783C9.67394 3.39616 9.36144 2.87533 9.00033 2.37533C8.63921 2.87533 8.32671 3.39616 8.06283 3.93783C7.79894 4.47949 7.58366 5.05588 7.41699 5.66699ZM3.25033 5.66699H5.70866C5.83366 5.13921 5.98991 4.6288 6.17741 4.13574C6.36491 3.64269 6.58366 3.16699 6.83366 2.70866C6.05588 2.95866 5.36491 3.3406 4.76074 3.85449C4.15658 4.36838 3.6531 4.97255 3.25033 5.66699Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /*영역이 아이콘에 들어갈 만큼 줘서 contain 주는게 좋음*/
}
header .util .search .search_open {
    padding: 0 0 0 1.29em; /*22*/
    position: relative;
}
header .util .search .search_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.29em;
    width: 0.94em;
    height: 0.94em;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3333 15.5L9.08333 10.25C8.66667 10.5833 8.1875 10.8472 7.64583 11.0417C7.10417 11.2361 6.52778 11.3333 5.91667 11.3333C4.40278 11.3333 3.12153 10.809 2.07292 9.76042C1.02431 8.71181 0.5 7.43056 0.5 5.91667C0.5 4.40278 1.02431 3.12153 2.07292 2.07292C3.12153 1.02431 4.40278 0.5 5.91667 0.5C7.43056 0.5 8.71181 1.02431 9.76042 2.07292C10.809 3.12153 11.3333 4.40278 11.3333 5.91667C11.3333 6.52778 11.2361 7.10417 11.0417 7.64583C10.8472 8.1875 10.5833 8.66667 10.25 9.08333L15.5 14.3333L14.3333 15.5ZM5.91667 9.66667C6.95833 9.66667 7.84375 9.30208 8.57292 8.57292C9.30208 7.84375 9.66667 6.95833 9.66667 5.91667C9.66667 4.875 9.30208 3.98958 8.57292 3.26042C7.84375 2.53125 6.95833 2.16667 5.91667 2.16667C4.875 2.16667 3.98958 2.53125 3.26042 3.26042C2.53125 3.98958 2.16667 4.875 2.16667 5.91667C2.16667 6.95833 2.53125 7.84375 3.26042 8.57292C3.98958 9.30208 4.875 9.66667 5.91667 9.66667Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /*영역이 아이콘에 들어갈 만큼 줘서 contain 주는게 좋음*/
}
@media screen and (min-width:1025px) { /*pc 버전만*/

    header .gnb .gnb_util,
    header .gnb .gnb_open, 
    header .gnb .gnb_close {
        display: none; /*모바일에서만 숨김*/
    }

    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7.76em; /*박스그렸던 너비 132px*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
    }
}/*@media*/







footer {
    margin: 500px 0 0 0;
}