/* header와 footer가 같이 모든페이지 공통사항 저장 */

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
footer {
    margin: 500px 0 0 0;
}