@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual {
  position: relative; /* ctrl_wrap 과 scroll_down 정렬의 기준 */
}
.visual .swiper-slide .photo {
    overflow: hidden; /*photo 국룰*/
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이100%
                        (모바일에서 주소줄뺴고의 높이) */
    min-height: 500px; /*브라우저가 줄어들때 최소 높이*/
 }
 .visual .swiper-slide .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s;
 }

  .visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
  .visual .swiper-slide .txt_wrap {
    position: absolute; /* swiper-slide 기준으로 정렬 , 브라우저에 swiper-slide에 position: relative  있음*/
    left: 0;
    bottom: 28.1%; /*%계산 281px/1000(비주얼높이)*100 =28.1*/
    width: 100%; /*wrapper안에 제대로 실행됨 */
}
  .visual .swiper-slide .txt_wrap .txt {
    overflow: hidden;
    margin: 5px 0;
}
  .visual .swiper-slide .txt_wrap .txt p {
    color: #fff;
    font-size: 4.12rem;/*70*/
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    /* 글자빼꼼하고 올라오는거*/
    white-space: nowrap; /* 1줄로 표현 */ 
    transform: translateY(100%); /* delay쓰면 미리 100%주어야함 */
    transition: 0.5s;
    transition-delay: 1s;
  }
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
    transform: translateY(0);

    /* 다음 비주얼배경도 글자뺴꼼하게 올라오는거 
    animation-name: visual_txt;
    animation-duration: 0.5s; /*몇초
    animation-iteration-count: 1; /*몇번
    animation-delay: 1s; /*딜레이
    animation-fill-mode: forwards;*/
}
 @keyframes visual_txt {
    0% { transform: translateY(100%); } /* 위에 translateY 값과 같아야함 */
    100% { transform: translateY(0); }
 }
.visual .swiper-slide .txt_wrap .txt.mobile {
    display: none;
}
.visual .ctrl_wrap {
  position: absolute; /* visual를 기준으로 정렬 */
  left: calc(50% - 630px);
  bottom: 23.1%; /* 231px/1000(비주얼높이)*100 */
  z-index: 10;
  display: flex; /*네모박스 달라붙게*/
}
.visual .ctrl_wrap button {
  border: 1px solid #fff;
  border-left: 0; /*ㄷ이 뒤집어진 모양 할떄 */
  /*border-left-width: 0; 똑같은방법 */
  width: 1.76em; /*30*/
  height: 1.76em;
  background-repeat: no-repeat;
  background-position: center center;
}
.visual .ctrl_wrap button.btn_prev {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_501' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect x='20' y='20' width='20' height='20' transform='rotate(-180 20 20)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_501)'%3E%3Cpath d='M7.93782 9.99837L14.0628 16.1234C14.2711 16.3317 14.3718 16.5782 14.3649 16.863C14.358 17.1477 14.2503 17.3942 14.042 17.6025C13.8336 17.8109 13.5871 17.915 13.3024 17.915C13.0177 17.915 12.7711 17.8109 12.5628 17.6025L6.16699 11.1859C6.00032 11.0192 5.87532 10.8317 5.79199 10.6234C5.70865 10.415 5.66699 10.2067 5.66699 9.99837C5.66699 9.79003 5.70865 9.5817 5.79199 9.37337C5.87532 9.16503 6.00032 8.97753 6.16699 8.81087L12.5837 2.3942C12.792 2.18586 13.035 2.08517 13.3128 2.09211C13.5906 2.09906 13.8337 2.2067 14.042 2.41503C14.2503 2.62336 14.3545 2.86989 14.3545 3.15462C14.3545 3.43934 14.2503 3.68587 14.042 3.8942L7.93782 9.99837Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_next {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_492' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_492)'%3E%3Cpath d='M12.0622 10.0016L5.93718 3.87663C5.72885 3.6683 5.62816 3.42177 5.6351 3.13704C5.64205 2.85232 5.74968 2.60579 5.95802 2.39746C6.16635 2.18913 6.41288 2.08496 6.6976 2.08496C6.98232 2.08496 7.22885 2.18913 7.43718 2.39746L13.833 8.81413C13.9997 8.9808 14.1247 9.1683 14.208 9.37663C14.2913 9.58497 14.333 9.7933 14.333 10.0016C14.333 10.21 14.2913 10.4183 14.208 10.6266C14.1247 10.835 13.9997 11.0225 13.833 11.1891L7.41635 17.6058C7.20801 17.8141 6.96496 17.9148 6.68718 17.9079C6.4094 17.9009 6.16635 17.7933 5.95801 17.585C5.74968 17.3766 5.64552 17.1301 5.64552 16.8454C5.64552 16.5607 5.74968 16.3141 5.95802 16.1058L12.0622 10.0016Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_stop {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_498' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_498)'%3E%3Cpath d='M13.3333 15.8327C12.875 15.8327 12.4826 15.6695 12.1563 15.3431C11.8299 15.0167 11.6667 14.6243 11.6667 14.166V5.83268C11.6667 5.37435 11.8299 4.98199 12.1563 4.6556C12.4826 4.32921 12.875 4.16602 13.3333 4.16602C13.7917 4.16602 14.184 4.32921 14.5104 4.6556C14.8368 4.98199 15 5.37435 15 5.83268V14.166C15 14.6243 14.8368 15.0167 14.5104 15.3431C14.184 15.6695 13.7917 15.8327 13.3333 15.8327ZM6.66667 15.8327C6.20833 15.8327 5.81597 15.6695 5.48958 15.3431C5.16319 15.0167 5 14.6243 5 14.166V5.83268C5 5.37435 5.16319 4.98199 5.48958 4.6556C5.81597 4.32921 6.20833 4.16602 6.66667 4.16602C7.125 4.16602 7.51736 4.32921 7.84375 4.6556C8.17014 4.98199 8.33333 5.37435 8.33333 5.83268V14.166C8.33333 14.6243 8.17014 15.0167 7.84375 15.3431C7.51736 15.6695 7.125 15.8327 6.66667 15.8327Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_play {
  display: none; /*js후 안보이게 하기*/
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_507' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect x='20' y='20' width='20' height='20' transform='rotate(-180 20 20)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_507)'%3E%3Cpath d='M14.7285 9.29134C14.8535 9.37467 14.9473 9.47884 15.0098 9.60384C15.0723 9.72884 15.1035 9.86079 15.1035 9.99967C15.1035 10.1386 15.0723 10.2705 15.0098 10.3955C14.9473 10.5205 14.8535 10.6247 14.7285 10.708L7.93685 15.0205C7.8674 15.0622 7.79449 15.0934 7.7181 15.1143C7.64171 15.1351 7.56879 15.1455 7.49935 15.1455C7.27713 15.1455 7.08268 15.0656 6.91602 14.9059C6.74935 14.7462 6.66602 14.5483 6.66602 14.3122L6.66602 5.68717C6.66602 5.45106 6.74935 5.25315 6.91602 5.09342C7.08268 4.9337 7.27713 4.85384 7.49935 4.85384C7.56879 4.85384 7.64171 4.86426 7.7181 4.88509C7.79449 4.90592 7.86741 4.93717 7.93685 4.97884L14.7285 9.29134Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button:first-child {
  border-left: 1px solid #fff;
  /*border-left-width: 1px; 똑같은방법 */
}
.visual .scroll_down {
  position: absolute; /*visual을 기준으로 정렬*/
  left: 50%;/*가운데정렬*/
  transform: translateX(-50%);/*가운데정렬*/
  bottom: 4.9%; /*49px %로줘야하고 scroll_down글자 기준으로 밑여백계산*/
  z-index: 10;
  color: #fff;
}
.visual .scroll_down::after {
  content: "";
  position: absolute;
  left: 44%;
  bottom: -0.23em; 
  height: 0.47em;
  width: 0.76em;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.75 1.75L6.5 8L0.25 1.75L1.35937 0.640624L6.5 5.78125L11.6406 0.640624L12.75 1.75Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: scroll_down;
  animation-duration: 2s;/*몇초*/
  animation-iteration-count: infinite; /*몇번, infinite=무제한*/
  animation-timing-function: linear; /*가속도*/
}

@keyframes scroll_down {
  0% {bottom: -0.23em;}
  50% {bottom: -2.29em;} /*최대로 내려오는 값*/
  100%{bottom: -0.23em;}
}
@media screen and (max-width:1300px) {

  /*브라우저가 줄어들때 따라오게 하는법
 common.css에서 1300px 모바일 wrapper의 margin 여백과 똑같이 주면됨 */
      .visual .ctrl_wrap  {
        left: 20px;
      }
}
@media screen and (max-width:1024px) { /* 비주얼 모바일 */
        .visual .swiper-slide .txt_wrap .txt p {
          font-size: 3.43rem;/*55/16*/
      }
      .visual .swiper-slide .txt_wrap {
          bottom: 30.1%;
      }
}
@media screen and (max-width:768px) { /*비주얼모바일*/
        .visual .swiper-slide.swiper-slide-active .photo img {
          transform: scale3d(1, 1, 1); /* 애니메이션 이미지가 확대대는거 안들어가게 하는법 */
      }
        .visual .swiper-slide .txt_wrap {
          left: 0;
          bottom: 17.75%; /*%계산 142px/800(모바일비주얼높이)*100 =17.75*/
      }
      .visual .swiper-slide .txt_wrap .txt.mobile {
          display: block;
      }
      .visual .swiper-slide .txt_wrap .txt.pc {
        display: none;
      }
        .visual .swiper-slide .txt_wrap .txt p {
          font-size: 2.37rem;/*38/16*/
      }
      .visual .ctrl_wrap {
        bottom: 11.12%; /* 89px/800(비주얼높이)*100 */
      }
      .visual .ctrl_wrap button {
        border: 1px solid #fff;
      }
      .visual .ctrl_wrap button.btn_prev {
        display: none;
      }
      .visual .ctrl_wrap button.btn_next {
        display: none;
      }
}